{% extends "base.html" %}

{% block content %}
<div class="row-fluid">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}Corrija o erro abaixo.{% else %}Corrija os erros abaixo.{% endif %}
    </p>
{% endif %}


<p>Por favor insira sua senha antiga, por segurança, e então entre com a nova senha duas vezes para que verifiquemos que foi digitada corretamente.</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    {{ form.old_password.label_tag }} {{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {% if form.new_password1.help_text %}
    <p class="help">{{ form.new_password1.help_text|safe }}</p>
    {% endif %}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    {% if form.new_password2.help_text %}
    <p class="help">{{ form.new_password2.help_text|safe }}</p>
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Alterar senha" class="btn btn-warning" />
</div>

</div>
</form>
</div>

{% endblock %}