{% extends "teste/base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block extra_head %}
<link href={% static "assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" %} rel="stylesheet" type="text/css" />
<link href={% static "assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" %} rel="stylesheet" type="text/css" />
<link href={% static "assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %} rel="stylesheet" type="text/css" />
<link href={% static "assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-yellow-crusta">
                    <i class="icon-plus font-yellow-crusta"></i>
                    <span class="caption-subject bold uppercase"> Editar operação </span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="POST" class="horizontal-form">{% csrf_token %}
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-md-6 {% if form_operacao_debenture.preco_unitario.errors %} has-error {% endif %}">
                                <label class="control-label col-md-4" style="text-align: left;"> Preço unitário: </label>
                                <div class="col-md-8">
                                    <input id="id_preco_unitario" type="text" name="preco_unitario" class="form-control" value="{{ form_operacao_debenture.preco_unitario.value }}">
                                    {% if form_operacao_debenture.preco_unitario.errors %} <span class="help-block"> {{ form_operacao_debenture.preco_unitario.errors.as_text }} </span> {% endif %}
                                </div>
                            </div>
                            <div class="form-group col-md-6 {% if form_operacao_debenture.quantidade.errors %} has-error {% endif %}">
                                <label class="control-label col-md-4"> Quantidade: </label>
                                <div class="col-md-8">
                                    <input id="id_quantidade" type="text" name="quantidade" class="form-control" value="{{ form_operacao_debenture.quantidade.value }}">
                                    {% if form_operacao_debenture.quantidade.errors %} <span class="help-block"> {{ form_operacao_debenture.quantidade.errors.as_text }} </span> {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 {% if form_operacao_debenture.data.errors %} has-error {% endif %}">
                                <label class="control-label col-md-4" style="text-align: left;"> Data: </label>
                                <div class="col-md-8">
                                    <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date="{{form_operacao_debenture.data.value|default:''}}" data-date-viewmode="years">
                                        <input type="text" class="form-control" id="id_data" name="data" value="{{form_operacao_debenture.data.value|date:'d/m/Y'|default:''}}">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    {% if form_operacao_debenture.data.errors %} <span class="help-block"> {{ form_operacao_debenture.debenture.errors.as_text }} </span> 
                                    {% else %} <span class="help-block"> Selecione uma data </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group col-md-6 {% if form_operacao_debenture.debenture.errors %} has-error {% endif %}">
                                <label class="control-label col-md-4" style="text-align: left;"> Debênture: </label>
                                <div class="col-md-8">
                                    {% localize off %}
                                    <select class="selectpicker form-control" id="id_debenture" name="debenture">
                                        {% for key, value in form_operacao_debenture.fields.debenture.widget.choices %}<option value="{{ key }}" 
                                                {% if key == form_operacao_debenture.debenture.value|add:'0' %}selected="selected"{% endif %}>{{ value }}</option>{% endfor %}
                                    </select>
                                    {% endlocalize %}
                                    {% if form_operacao_debenture.debenture.errors %} <span class="help-block"> {{ form_operacao_debenture.debenture.errors.as_text }} </span> {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 {% if form_operacao_debenture.tipo_operacao.errors %} has-error {% endif %}">
                                <label class="control-label col-md-4" style="text-align: left;"> Tipo de operação: </label>
                                <div class="col-md-8">
                                    <select class="selectpicker form-control" id="id_tipo_operacao" name="tipo_operacao" value="{{ form_operacao_debenture.tipo_operacao.value }}">
                                        {% for key, value in form_operacao_debenture.fields.tipo_operacao.widget.choices %}<option value="{{ key }}">{{ value }}</option>{% endfor %}
                                    </select>
                                    {% if form_operacao_debenture.tipo_operacao.errors %} <span class="help-block"> {{ form_operacao_debenture.tipo_operacao.errors.as_text }} </span> {% endif %}
                                </div>
                            </div>
                            <div class="form-group col-md-6 {% if form_operacao_debenture.taxa.errors %} has-error {% endif %}">
                                <label class="control-label col-md-4"> Taxa: </label>
                                <div class="col-md-8">
                                    <input id="id_taxa" type="text" name="taxa" class="form-control" value="{{ form_operacao_debenture.taxa.value }}">
                                    {% if form_operacao_debenture.taxa.errors %} <span class="help-block"> {{ form_operacao_debenture.taxa.errors.as_text }} </span> {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if not varias_divisoes %}
                        <div class="row">
                            <div class="form-group col-md-6 {% if form_operacao_debenture.qtd_utilizada.errors %} has-error {% endif %}">
                                <label class="control-label col-md-4" style="text-align: left;"> Quantidade de proventos utilizada: </label>
                                <div class="col-md-8">
                                    <input id="id_qtd_utilizada" type="text" value="0" name="qtd_utilizada" class="form-control">
                                    {% if form_operacao_debenture.qtd_utilizada.errors %} <span class="help-block"> {{ form_operacao_debenture.qtd_utilizada.errors.as_text }} </span> {% endif %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="row" id="forms">
                            <h2 class="font-yellow-crusta" align="center">
                                <strong>Divisões</strong> <button id="add-another" class="btn btn-icon-only green-steel" type="button"><i class="fa fa-plus"></i></button>
                            </h2>
                            {{ formset_divisao.management_form }}
                            {% for form_divisao in formset_divisao %}
                            <h3 class="font-yellow-crusta" align="center"><strong>Divisão {{ forloop.counter }}</strong></h3>
                            <br/>
                            <div class="row" id="divisao-{{forloop.counter0}}">
                                <div class="form-group col-md-6 {% if form_divisao.divisao.errors %} has-error {% endif %}">
                                    <label class="control-label col-md-4" style="text-align: left;"> Divisão: </label>
                                    <div class="col-md-8">
                                        {% localize off %}
                                        <select class="selectpicker form-control" id="id_divisaooperacaodebenture_set-{{forloop.counter0}}-divisao" name="divisaooperacaodebenture_set-{{forloop.counter0}}-divisao">
                                            {% for key, value in form_divisao.fields.divisao.widget.choices %}<option value="{{ key }}" 
                                                {% if key == form_divisao.divisao.value|add:'0' %}selected="selected"{% endif %}>{{ value }}</option>{% endfor %}
                                        </select>
                                        {% endlocalize %}
                                        {% if form_divisao.divisao.errors %} <span class="help-block"> {{ form_divisao.divisao.errors.as_text }} </span> {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-md-6 {% if form_divisao.quantidade.errors %} has-error {% endif %}">
                                    <label class="control-label col-md-4"> Quantidade: </label>
                                    <div class="col-md-8">
                                        <input id="id_divisaooperacaodebenture_set-{{forloop.counter0}}-quantidade" type="text" value="{{form_divisao.quantidade.value}}" name="divisaooperacaodebenture_set-{{forloop.counter0}}-quantidade" class="form-control">
                                        {% if form_divisao.quantidade.errors %} <span class="help-block"> {{ form_divisao.quantidade.errors.as_text }} </span> {% endif %}
                                    </div>
                                </div>
                            </div>
                            <input id="id_divisaooperacaodebenture_set-{{forloop.counter0}}-id" name="divisaooperacaodebenture_set-{{forloop.counter0}}-id" value="{{form_divisao.instance.id}}" type="hidden">
                            <input id="id_divisaooperacaodebenture_set-{{forloop.counter0}}-operacao" name="divisaooperacaodebenture_set-{{forloop.counter0}}-operacao" value="{{form_operacao_debenture.operacao.id}}" type="hidden">
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset col-md-3">
                                    <button type="submit" name="save" value="1" class="btn green-steel">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/plugins/fuelux/js/spinner.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/jquery-validation/js/jquery.validate.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/jquery-validation/js/additional-methods.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/moment.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js" %} type="text/javascript"></script>

{{form_operacao_debenture.media}}

<script>
function mostrar_debentures_validas(data) {
    $.ajax({
        url : "{% url 'listar_debentures_validas_na_data' %}", // the endpoint
        type : "GET", // http method
        data : {data: data},

        // handle a successful response
        success : function(retorno) {
            $('#row-messages').show();
            if (retorno.resultado) {
                console.log(retorno.debentures_validas);
                $("#id_debenture option").each(function() {
                    if ($.inArray($(this).val(), retorno.debentures_validas) > -1) {
                        $(this).removeAttr('disabled');
                    } else {
                        $(this).attr('disabled', 'disabled');
                    }
                    $('#id_debenture').selectpicker('refresh');
                    console.log('ready');
                 });
            } else {
                $('#messages').html('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button><i class="fa-lg fa fa-warning"></i> ' + retorno.mensagem + '</div>');
            }
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}

$(document).ready(function() {
    $("input[name='preco_unitario']").TouchSpin({
        min: 0,
        max: 1000000000,
        step: 0.01,
        decimals: 2,
        maxboostedstep: 100,
        prefix: 'R$'
    });
    $("input[name='quantidade']").TouchSpin({
        min: 0,
        max: 1000000000,
        step: 1,
        maxboostedstep: 100,
        postfix: 'títulos'
    });
    $("input[name='taxa']").TouchSpin({
        min: 0,
        max: 1000000000,
        step: 0.01,
        decimals: 2,
        maxboostedstep: 100,
        prefix: 'R$'
    });
    $("input[name$='-quantidade']").TouchSpin({
        min: 0,
        max: 1000000000,
        step: 1,
        maxboostedstep: 100,
        postfix: 'títulos'
    });
    $('.date-picker').datepicker({
            language: 'pt-BR'
    });
    $("#id_debenture").selectpicker('refresh');
    $("select[id$='-divisao']").selectpicker('refresh');
    
//     $('#id_data').change(function() {
//         var data_texto = $('#id_data').val();
//         var comp = data_texto.split('/');
//         // Tamanho de comp deve ser 3
//         if (comp.length != 3) {
//          return;
//         }
//         var m = parseInt(comp[1], 10);
//         var d = parseInt(comp[0], 10);
//         var y = parseInt(comp[2], 10);
//         var data = new Date(y,m-1,d);
//         console.log(data, data_texto)
//         if (data.getFullYear() == y && data.getMonth() + 1 == m && data.getDate() == d) {
//         mostrar_debentures_validas(data_texto);
//         }
//     }); 
});
</script>
{% endblock %}