{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <h1>Detalhamento do imposto de renda para {{ ano }}</h1>
</div>
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2>Rendimentos isentos e não-tributáveis</h2>
        </div>
        <div class="box-content">
            <h4>Lucros e dividendos recebidos pelo titular e dependentes</h4>
            <ul>
            {% for ticker, acao in acoes.items %}
                {% if acao.dividendos > 0 %}
                <li>Dividendos de {{ticker}}: R${{acao.dividendos}}</li>
                {% endif %}
            {% endfor %}
            <li><strong>Total: R${{dados.total_dividendos}}</strong></li>
            </ul>
            
            <h4>Ganhos líquidos em operações no mercado à vista de ações negociadas em bolsa de valores nas alienações 
            realizadas até R$ 20.000,00, em cada mês, para o conjunto de ações</h4>
            <ul>
            {% for mes, ganho in ganho_abaixo_vinte_mil.items %}
                {% if ganho > 0 %}
                <li>Mês {{mes}}: R${{ganho}}</li>
                {% endif %}
            {% endfor %}
            <li><strong>Total: R${{dados.total_abaixo_vinte_mil}}</strong></li>
            </ul>
            
            <h4>Outros</h4>
            <ul>
            {% for ticker, fii in fiis.items %}
                {% if fii.rendimentos > 0 %}
                <li>Rendimentos de {{ticker}}: R${{fii.rendimentos}}</li>
                {% endif %}
            {% endfor %}
            <li><strong>Total: R${{dados.total_rendimentos_fii}}</strong></li>
            </ul>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2>Rendimentos sujeitos à tributação exclusiva/definitiva</h2>
        </div>
        <div class="box-content">
            <h4>Ganhos líquidos em renda variável (bolsa de valores, de mercadorias, de futuros e assemelhados e fundos de investimento imobiliário)</h4>
            
            <h4>Juros sobre capital próprio</h4>
            <ul>
            {% for ticker, acao in acoes.items %}
                {% if acao.jscp > 0 %}
                <li>{{ticker}}: R${{acao.jscp}}</li>
                {% endif %}
            {% endfor %}
            <li><strong>Total: R${{dados.total_jscp}}</strong></li>
            </ul>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2>Bens e Direitos</h2>
        </div>
        <div class="box-content">
            <ul>
            <!-- Ações -->
            {% for ticker, acao in acoes.items %}
                {% if acao.quantidade > 0 %}
                    <li>{{ticker}}: {{acao.quantidade}} ações a {{acao.preco_medio}}</li>
                {% endif %}
            {% endfor %}
            <li>Proventos declarados no ano-calendário e que serão pagos no(s) ano(s) seguinte(s):
                <ul>
                {% for ticker, acao in acoes.items %}
                    {% if acao.credito_prox_ano > 0 %}
                        <li>{{ ticker }}: R${{acao.credito_prox_ano}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            
            <!-- CDB/RDB -->
            {% for investimento, valor in cdb_rdb.items %}
                {% if valor > 0 %}
                    <li>Aplicação em {{investimento}}: R${{ valor }}</li>
                {% endif %}
            {% endfor %}
            
            <!-- Fundo de Investimento -->
            {% for fundo, valor in fundos_investimento.items %}
                {% if valor > 0 %}
                    <li>Aplicação em {{fundo}}: R${{ valor }}</li>
                {% endif %}
            {% endfor %}
                    
            <!-- FII -->
            {% for ticker, fii in fiis.items %}
                {% if fii.quantidade > 0 %}
                    <li>{{ticker}}: {{fii.quantidade}} cota(s) a {{fii.preco_medio}}</li>
                {% endif %}
            {% endfor %}
            
            <!-- Letras de Crédito -->
            {% for letra, valor in letras_credito.items %}
                {% if valor > 0 %}
                    <li>Aplicação em {{letra}}: R${{ valor }}</li>
                {% endif %}
            {% endfor %}
            
            <!-- Tesouro Direto -->
            {% if dados.total_acumulado_td > 0 %}
                <li>Aplicação em Tesouro Direto: R${{ dados.total_acumulado_td }}</li>
            {% endif %}
            </ul>
        </div>
    </div>
    
            
</div>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2>Renda variável</h2>
        </div>
        <div class="box-content">
            <ul>
            {% for mes, ganho in ganho_acima_vinte_mil.items %}
                <li>Mês {{mes}}: Comum: <strong>R${{ganho.0|floatformat:"2"}}</strong> Daytrade: <strong>R${{ganho.1|floatformat:"2"}}</strong></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
<!--             print fii, '->', fiis[fii].quantidade, 'a', (fiis[fii].preco_medio/Decimal(fiis[fii].quantidade)) -->
</div>

{% endblock %}