{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <h1>Listar anos</h1>
</div>
<div class="row-fluid">
    <table id="historico_porcentagem" class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>Ano</th>
                <th>Valor a pagar</th>
            </tr>
        </thead>
        <tbody>
        {% for imposto_renda in impostos_renda %}
        <tr>
            <td><a href="{% url "imposto_renda:detalhar_imposto_renda" imposto_renda.ano %}">{{ imposto_renda.ano }}</a></td>
            <td>R$ {{ imposto_renda.valor_a_pagar|default:"0,00" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}