{% extends "base.html" %}
{% load staticfiles %}

{% block pagina_titulo_icone %}
<i class="icon-pin font-yellow-crusta"></i>
{% endblock %}

{% block content %}
<div class="portlet-body">
    <div class="row">
        <div class="{% if user.is_authenticated %}col-md-10{% else %}col-md-12{% endif %}">
            <div class="row">
                <div class="col-md-6">
                    <h3>Significado das siglas</h3>
                    <ul class="list-unstyled">
                        <li><strong>LCI</strong>: Letra de Crédito Imobiliário</li>
                        <li><strong>LCA</strong>: Letra de Crédito do Agronegócio</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>O que são?</h3>
                    <p>
                    As Letras de Crédito Imobiliário e do Agronegócio são investimentos de baixo risco, <strong>isentos de imposto de renda</strong>. A 
                    diferença entre elas é basicamente o setor no qual a instituição financeira está lastreando seus empréstimos – agronegócio ou imobiliário.
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="mt-element-step">
                        <div class="row step-line">
                            <div class="mt-step-desc text-center">
                                <h3>Como funciona</h3>
                            </div>
                            <div class="col-md-4 mt-step-col first ">
                                <div class="mt-step-number bg-white"><i class="icon-user font-yellow-crusta"></i></div>
                                <div class="mt-step-title uppercase">Investidor</div>
                                <div class="mt-step-content">Empresta dinheiro à instituição por meio da compra da Letra de Crédito</div>
                            </div>
                            <div class="col-md-4 mt-step-col">
                                <div class="mt-step-number bg-white"><i class="fa fa-bank font-yellow-crusta"></i></div>
                                <div class="mt-step-title uppercase">Instituição</div>
                                <div class="mt-step-content">Realiza empréstimos, no setor específico</div>
                            </div>
                            <div class="col-md-4 mt-step-col last">
                                <div class="mt-step-number bg-white"><i class="fa fa-money font-yellow-crusta"></i></div>
                                <div class="mt-step-title uppercase">Retorno</div>
                                <div class="mt-step-content">Na data de vencimento, ou após o período de carência, caso o investidor queira resgatar, o dinheiro volta a ele,
                                 somado ao rendimento acordado na primeira etapa</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Garantia</h3>
                    <p>
                    São garantidas pelo FGC (Fundo Garantidor de Crédito) <strong>até um limite de R$ 250.000,00 por CPF por instituição</strong>.
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Tipos</h3>
                    <p>
                    Podem ser prefixadas ou pós-fixadas. As prefixadas já mostram ao investidor quanto ele irá receber na data de vencimento. Nas pós-fixadas,
                    a taxa de rendimento é atrelada a um índice, como o DI (mais comum) ou o IPCA, portanto o investidor só saberá o rendimento final ao 
                    término do investimento.
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Liquidez</h3>
                    <p>
                    O investidor apenas pode resgatar o dinheiro após um período de carência, se houver, ou na data de vencimento.
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Imposto de Renda</h3>
                    <p>
                    Isenção desde 2004.
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Para mais informações:</h3>
                    <ul class="list-unstyled">
                        <li><a href="http://www.infomoney.com.br/lci-lca">Infomoney</a></li>
                        <li><a href="http://mepoupenaweb.uol.com.br/investimentos/tudo-sobre-lci-e-lca/">Me Poupe!</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-2">
            <div class="portlet box yellow-crusta">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user"></i>Investidor</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    {% if total_atual > 0 %}
                    <h4>Total atual</h4>
                    <div class="col-md-12 text-center font-yellow-crusta">
                        <p class="lead">
                            <strong>R$ <span data-counter="counterup" data-value="{{ total_atual }}">0</span></strong>
                        </p>
                    </div>
                    {% endif %}
                    <h4>Investimentos</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url "lci_lca:inserir_operacao_lci_lca" %}">Inserir operação</a></li>
                        <li><a href="{% url "lci_lca:historico_lci_lca" %}">Histórico de operações</a></li>
                        <li><a href="{% url "lci_lca:painel_lci_lca" %}">Painel de LCI/LCA</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box yellow-crusta">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-line-chart"></i>Últimos valores para o DI</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="chart" id="graf_historico_di" style="width:100%;height:300px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box yellow-crusta">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-line-chart"></i>Últimos valores para o IPCA</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="chart" id="graf_historico_ipca" style="width:100%;height:300px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet box yellow-crusta">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-money"></i>Simulador</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="chart" id="graf_simulador" style="width:100%;height:400px"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="col-md-12 hidden" id="erro_simulador"></span>
                                    <label class="col-md-12 control-label">Tipo de rendimento:</label>
                                    <div class="col-md-12">
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" class="md-radiobtn filtro-simulador" name="radioTipoRendimento" id="radioPosDI" value="POS" checked>
                                                <label for="radioPosDI">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Pós-fixado (DI) 
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" class="md-radiobtn filtro-simulador" name="radioTipoRendimento" id="radioPre" value="PRE">
                                                <label for="radioPre">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Prefixado 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-md-12 control-label">Período:</label>
                                    <div class="col-md-12">
                                        <input class="filtro-simulador form-control" id="periodo" type="text" value="{{filtros_simulador.periodo}}">
                                    </div>
                                    <label class="col-md-12 control-label">Rendimento:</label>
                                    <div class="col-md-12">
                                        <input class="filtro-simulador form-control" id="percentualRendimento" type="text" value="{{filtros_simulador.percentual_indice}}">
                                    </div>
                                    <label class="col-md-12 control-label">Quantidade investida:</label>
                                    <div class="col-md-12">
                                        <input class="filtro-simulador form-control" id="qtdInvestida" type="text" value="{{filtros_simulador.aplicacao}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/plugins/counterup/jquery.waypoints.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/counterup/jquery.counterup.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/moment.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.axislabels.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.categories.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.crosshair.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.resize.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.stack.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.time.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.min.js" %} type="text/javascript"></script>
<script type="text/javascript">
$( document ).ready(function() {    
    $.plot($("#graf_historico_di"), [ {color: "#33AA33", lines: {show:true}, data: {{ graf_historico_di|safe }} } 
    ],
    {grid: { hoverable: true, clickable: true}, xaxis: {mode: "time", timeformat: "%d/%m/%Y", tickSize: [6, "month"] } }  
    );
    
    $.plot($("#graf_historico_ipca"), [ {color: "#33AA33", lines: {show:true}, data: {{ graf_historico_ipca|safe }} } 
    ],
    {grid: { hoverable: true, clickable: true}, xaxis: {mode: "time", timeformat: "%d/%m/%Y", tickSize: [6, "month"]} }  
    );
    
    var graf_simulador = $.plot($("#graf_simulador"), [ {color: "#33AA33", lines: {show:true}, data: {{ graf_simulador|safe }} } 
    ],
    {grid: { hoverable: true, clickable: true}, xaxis: {mode: "time", timeformat: "%d/%m/%Y"} }  
    );
    
    function showTooltip(x, y, contents) {
        
        $('<div id="tooltip">' + contents + '</div>').css( {
        	zIndex: 1000,
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#graf_historico_di").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                
                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2).toString().replace('.', ',');
                
                var date = new Date(parseInt(x));
                showTooltip(item.pageX, item.pageY, moment.utc(date).format('DD/MM/YYYY') +"</br>Taxa: " + y + "%");
            }
        }
        else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;            
        }
    });
    $("#graf_historico_ipca").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                
                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2).toString().replace('.', ',');
                
                var date = new Date(parseInt(x));
                showTooltip(item.pageX, item.pageY, moment.utc(date).format('DD/MM/YYYY') +"</br>Taxa: " + y + "%");
            }
        }
        else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;            
        }
    });
    $("#graf_simulador").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                
                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2).toString().replace('.', ',');
                
                var date = new Date(parseInt(x));
                showTooltip(item.pageX, item.pageY, moment.utc(date).format('DD/MM/YYYY') +"</br>Valor: R$ " + y);
            }
        }
        else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;            
        }
    });
    
    // Periodo
    $("#periodo").TouchSpin({
        min: 10,
        max: 3650,
        step: 1,
        decimals: 0,
        maxboostedstep: 100,
        postfix: 'dias'
    });

    // Quantidade investida
    $("#qtdInvestida").TouchSpin({
        min: 100,
        max: 1000000,
        step: 0.01,
        decimals: 2,
        maxboostedstep: 100,
        prefix: 'R$'
    });
    
    // Percentual de rendimento
    if ($("input[name='radioTipoRendimento']:checked").val() == 'PRE') {
        $("#percentualRendimento").TouchSpin({
            min: 3,
            max: 100,
            step: 0.01,
            decimals: 2,
            maxboostedstep: 100,
            postfix: '% ao ano'
        });
    } else if ($("input[name='radioTipoRendimento']:checked").val() == 'POS') {
        $("#percentualRendimento").TouchSpin({
            min: 10,
            max: 150,
            step: 1,
            maxboostedstep: 100,
            postfix: '% do CDI'
        });
    }
    $('input[name=radioTipoRendimento]').change( function() {
        if ($("input[name='radioTipoRendimento']:checked").val() == 'PRE') {
            $('#percentualRendimento').trigger('touchspin.updatesettings', {max: 100, min: 3, decimals: 2, step: 0.01, postfix: '% ao ano'});
        } else if ($("input[name='radioTipoRendimento']:checked").val() == 'POS') {
        	$('#percentualRendimento').trigger('touchspin.updatesettings', {max: 150, min: 10, decimals: 0, step: 1, postfix: '% do CDI'});
        }
    })
    
    var polling = [];
    // Alterar gráfico
    $('.filtro-simulador').change(function() {
        polling.push(1);
    	setTimeout(function(){
    		polling.splice(0, 1);
    		if (polling.length == 0) {
    		    // Bloquear gráfico
    		    App.blockUI({
    		        target: '#graf_simulador',
    		        iconOnly: true,
    		        overlayColor: 'none'
    		    });
                $.ajax({
                    url : "{% url 'lci_lca:sobre_lci_lca' %}", // the endpoint
                    type : "GET", // http method
                    data : {periodo: $('#periodo').val(), percentual_indice: $('#percentualRendimento').val(),
                    	qtd: $('#qtdInvestida').val(), tipo: $("input[name='radioTipoRendimento']:checked").val()},
        
                    // handle a successful response
                    success : function(retorno) {
                    	if (retorno.sucesso) {
                    		$('#erro_simulador').html('');
                            $('#erro_simulador').addClass('hidden');
                            $('#graf_simulador').empty();
                            $.plot($("#graf_simulador"), [ {color: "#33AA33", lines: {show:true}, data: retorno.graf_simulador } 
                            ],
                            {grid: { hoverable: true, clickable: true}, xaxis: {mode: "time", timeformat: "%d/%m/%Y"} }  
                            );
                        } else {
                            $('#erro_simulador').html('<i class="fa fa-warning"> ' + retorno.mensagem);
                            $('#erro_simulador').removeClass('hidden');
                        }
                        App.unblockUI('#graf_simulador');
                    },
        
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        App.unblockUI('#graf_simulador');
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
    		}
    	}, 500);
    });
});
</script>
{% endblock %}
