{% extends "teste/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-yellow-crusta">
            <i class="icon-pin font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase">Ações</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="{% if user.is_authenticated %}col-md-10{% else %}col-md-12{% endif %}">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Significado das siglas</h3>
                        <ul class="list-unstyled">
                            <li><strong>ON</strong>: Ordinária</li>
                            <li><strong>PN</strong>: Preferencial</li>
                            <li><strong>JSCP</strong>, ou <strong>JCP</strong>: Juros sobre capital próprio</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>O que são?</h3>
                        <p>
                        CDB e RDB são títulos que bancos emitem para poder arrecadar capital. Na prática é como se o investidor emprestasse dinheiro para que o
                        banco exerça suas atividades, e em contrapartida recebe juros sobre esse dinheiro. Ambos os títulos pagam Imposto de Renda, sendo a 
                        diferença entre eles a data de carência, enquanto no CDB o investidor pode resgatar o dinheiro antecipadamente (abrindo mão de parte do
                        rendimento), no RDB o dinheiro só é pago ao investidor na data de vencimento.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-element-step">
                            <div class="row step-line">
                                <div class="mt-step-desc text-center">
                                    <h3>Como funciona</h3>
                                </div>
                                <div class="col-md-4 mt-step-col first ">
                                    <div class="mt-step-number bg-white"><i class="icon-user font-yellow-crusta"></i></div>
                                    <div class="mt-step-title uppercase">Investidor</div>
                                    <div class="mt-step-content">Empresta dinheiro ao Banco ao adquirir um título</div>
                                </div>
                                <div class="col-md-4 mt-step-col">
                                    <div class="mt-step-number bg-white"><i class="fa fa-bank font-yellow-crusta"></i></div>
                                    <div class="mt-step-title uppercase">Banco</div>
                                    <div class="mt-step-content">Opera com o dinheiro recebido</div>
                                </div>
                                <div class="col-md-4 mt-step-col last">
                                    <div class="mt-step-number bg-white"><i class="fa fa-money font-yellow-crusta"></i></div>
                                    <div class="mt-step-title uppercase">Retorno</div>
                                    <div class="mt-step-content">Na data de vencimento, ou após o período de carência caso o investidor queira resgatar, o dinheiro volta ao
                                    investidor, somado ao rendimento acordado na primeira etapa</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Garantia</h3>
                        <p>
                        Não há.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Tipos</h3>
                        <p>
                        Podem ser prefixados ou pós-fixados. Os prefixados já mostram ao investidor quanto ele irá receber na data de vencimento. Nos pós-fixados,
                        a taxa de rendimento é atrelada a um índice, como o DI (mais comum) ou o IPCA, portanto o investidor só irá saber o rendimento final ao 
                        término do investimento.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Liquidez</h3>
                        <p>
                        Podem ser negociadas durante dias úteis no horário de pregão da Bovespa.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Imposto de Renda</h3>
                        <p>
                        Day trade: <strong>20%</strong> sobre o lucro auferido, podendo abater prejuízos de trades dos meses anteriores.
                        </p>
                        <p>
                        Operações em datas diferentes: <strong>15%</strong> sobre o lucro auferido, podendo abater prejuízos em operações (<strong>que não sejam day trades</strong>) dos meses anteriores.
                        </p>
                        <p>
                        Dividendos: <strong>Isentos</strong>.
                        </p>
                        <p>
                        JSCP: <strong>15%</strong>, retido na fonte.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Para mais informações:</h3>
                        <ul class="list-unstyled">
                            <li><a href="http://www.bmfbovespa.com.br/pt_br/produtos/listados-a-vista-e-derivativos/renda-variavel/acoes.htm">BM&F Bovespa - Ações</a></li>
                            <li><a href="https://www.bastter.com/Mercado/acao/default.aspx">Bastter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-md-2">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-user"></i>Investidor</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        {% if total_atual > 0 %}
                        <h4>Total atual</h4>
                        <div class="col-md-12 text-center font-yellow-crusta">
                            <p class="lead">
                                <strong>R$ <span data-counter="counterup" data-value="{{ total_atual }}">0</span></strong>
                            </p>
                        </div>
                        {% endif %}
                        <h4>Investimentos</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url "acoes:inserir_operacao_cdb_rdb" %}">Inserir operação</a></li>
                            <li><a href="{% url "acoes:historico_cdb_rdb" %}">Histórico de operações</a></li>
                            <li><a href="{% url "acoes:painel_cdb_rdb" %}">Painel de CDB/RDB</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/plugins/counterup/jquery.waypoints.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/counterup/jquery.counterup.min.js" %} type="text/javascript"></script>
{% endblock %}
