{% load misc %}
{% comment %}
<div class="col-md-12">
    <h4>
        Mês atual
    </h4>
</div>
<div class="col-md-12">
    <p class="lead">
        <strong>R$ {% if acumulado_mensal_atual < 0 %}-{% endif %}<span data-counter="counterup" data-value="{{ acumulado_mensal_atual|template_abs|floatformat:'2' }}">0</span></strong>
    </p>
</div>
<div class="col-md-12">
    <h4>
        Mês anterior
    </h4>
</div>
<div class="col-md-12">
    <p class="lead">
        <strong>R$ {% if acumulado_mensal_anterior < 0 %}-{% endif %}<span data-counter="counterup" data-value="{{ acumulado_mensal_anterior|template_abs|floatformat:'2' }}">0</span></strong>
    </p>
</div>
<div class="col-md-12">
    <a href="{% url "inicio:detalhar_acumulados_mensais" %}" class="btn btn-warning">Mais</a>
</div>
{% endcomment %}
<div class="col-md-12">
    <span>
        Mês atual: <strong>R$ {% if acumulado_mensal_atual < 0 %}-{% endif %}<span data-counter="counterup" data-value="{{ acumulado_mensal_atual|template_abs|floatformat:'2' }}">0</span></strong>
    </span>
</div>
<div class="col-md-12">
    <span>
        Mês anterior: <strong>R$ {% if acumulado_mensal_anterior < 0 %}-{% endif %}<span data-counter="counterup" data-value="{{ acumulado_mensal_anterior|template_abs|floatformat:'2' }}">0</span></strong>
    </span>
</div>
<div class="col-md-12 margin-top-10 text-center"><a href="{% url "inicio:detalhar_acumulados_mensais" %}">Ir para acumulados mensais</a></div>