{% extends "base.html" %}
{% load staticfiles %}

{% block pagina_titulo_icone %}
<i class="icon-user font-yellow-crusta"></i>
{% endblock %}

{% block content %}
<div class="portlet-body">
	<div class="row">
        <div class="col-md-6">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet box yellow-crusta">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-clock-o"></i>Calcular patrimônio futuro</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body" id="portlet_patrimonio_futuro">
                    <input type="button" value="Calcular" onclick="calcular_patrimonio_futuro()">
                    <span data-counter="counterup" data-value="0" id="resultado_patrimonio_futuro">0</span>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
		<div class="col-md-6">
			<!-- BEGIN Portlet PORTLET-->
			<div class="portlet box yellow-crusta">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-clock-o"></i>Calcular rendimento futuro</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body" id="portlet_rendimento_futuro">
                    <input type="button" value="Calcular" onclick="calcular_renda_futura()">
                    <span data-counter="counterup" data-value="0" id="resultado_rendimento_futuro">0</span>
				</div>
			</div>
			<!-- END Portlet PORTLET-->
		</div>
        <div class="col-md-6">
            <div class="portlet box yellow-crusta">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-clock-o"></i>Calcular tempo necessário para patrimônio</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body" id="portlet_tempo_patrimonio">
                    <input type="button" value="Calcular" onclick="calcular_periodo_para_patrimonio()">
                    <span data-counter="counterup" data-value="0" id="resultado_tempo_patrimonio">0</span>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <div class="col-md-6">
            <div class="portlet box yellow-crusta">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-clock-o"></i>Calcular tempo necessário para rendimento</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body" id="portlet_tempo_rendimento">
                    <input type="button" value="Calcular" onclick="calcular_periodo_para_rendimento()">
                    <span data-counter="counterup" data-value="0" id="resultado_tempo_rendimento">0</span>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
	</div>
</div>

{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/plugins/counterup/jquery.waypoints.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/counterup/jquery.counterup.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/jquery.pulsate.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/moment.min.js" %} type="text/javascript"></script>
<script src={% static "js/bagogold/calculo_rendimento_futuro.js" %} type="text/javascript"></script>
<script type="text/javascript">
$( document ).ready(function() {
	
});
</script>
{% endblock %}