{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<h1>Bem-vindo, {{request.user.investidor}}!</h1>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2>Investimentos</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="row-fluid">
                {% for investimento in investimentos_atuais %}
                <div class="span1 statbox green" ontablet="span1" ondesktop="span1">
                    <div class="number">854</div>
                    <div class="title">investimento.tipo</div>
                    <div class="footer">
                        <a href="#"> read full report</a>
                    </div>  
                </div>
                {% endfor %}
            </div>
            <div class="row-fluid">
                <a href="{% url "detalhamento_investimentos" %}" class="btn btn-warning">Detalhar investimentos</a>
            </div>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="box span6" ontablet="span6" ondesktop="span6">
        <div class="box-header">
            <span><strong>Últimas operações</strong></span>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <ul class="dashboard-list">
                {% for operacao in ultimas_operacoes %}
                <li>
                    <a href="#">
                        <span style="text-align:left;" class="white">{{operacao}}</span>
                    </a>
                </li>
                {% empty %}
                <li>
                    <a href="#">
                        <span style="text-align:left;" class="white">Não há operações</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

Últimos proventos

Proventos a recebe

<h3>Gráfico de rendimentos mensal</h3>
<div class="row-fluid">

        <div class="span4" id="graf_rendimentos_mensal" style="width:100%;height:400px"></div>

</div>

<script>
$( document ).ready(function() {
    $.plot($("#graf_rendimentos_mensal"), [ {lines: {show:true}, label: "Rendimentos", data: {{ graf_patrimonio|safe }} } 
                              ],
                                {grid: { hoverable: true, clickable: true }, legend:{position:"nw"}, xaxis: {mode: "time",timeformat: "%d-%m-%y"} }  
    );
    
function showTooltip(x, y, contents) {
        
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#graf_patrimonio").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                
                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);
                
                var date = new Date(parseInt(x));
                showTooltip(item.pageX, item.pageY, $.plot.formatDate(date, "%d-%m-%y") +"</br>" + item.series.label + ": R$" + y);
            }
        }
        else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;            
        }
    });

});


function labelFormatter(label, series) {
	console.log(series);
    return "<div style='font-size:10pt; text-align:center; padding:2px; color:" + series.color + ";'>" + label + "<br/>" + 
    (Math.round(series.percent * 100) / 100) + "%</div>";
}

</script>
{% else %}
<h1>Bem-vindo!</h1>

{% endif %}

{% endblock %}
