{% extends "base_login.html" %}
{% load staticfiles %}

{% block content %}
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="{% if next %}{% url "login" %}?next={{next}}{% else %}{% url "login" %}{% endif %}" method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                {% if message.tags %}
                    {% if 'success' in message.tags %}
                        <i class="fa-lg fa fa-check"></i>
                    {% elif 'error' in message.tags %}
                        <i class="fa-lg fa fa-warning"></i>
                    {% endif %}
                {% endif %} {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <h3 class="form-title">Acesse sua conta</h3>
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            {% for error in form.non_field_errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Usuário</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Usuário" name="username" {% if form.username.value %}value="{{form.username.value}}"{% endif %}/> </div>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <span class="font-white"><i class="fa fa-warning"></i> {{error}}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Senha</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Senha" name="password" /> </div>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="font-white"><i class="fa fa-warning"></i> {{error}}</span>
                {% endfor %}
            {% endif %}
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-actions">
            <button type="submit" class="btn yellow-crusta pull-right"> Login </button>
        </div>
        <div class="forget-password">
            <h4>Esqueceu a senha ?</h4>
            <p> Então
                <a class="font-yellow-crusta" href="{% url 'password_reset' %}" id="forget-password"> clique aqui </a> para trocá-la. </p>
        </div>
        <div class="create-account">
            <h4>Não possui conta?</h4>
            <a href="{% url 'cadastro' %}" class="font-yellow-crusta"> Criar nova conta </a>
        </div>
        <!-- BEGIN COPYRIGHT -->
        <div class="copyright" style="margin-top: 25px;"> {% now "Y" %} &copy; Bag of Gold </div>
        <!-- END COPYRIGHT -->
    </form>
    <!-- END LOGIN FORM -->
{% endblock %}

{% block extra_content %}
    <div>
        <img src="{% static "assets/global/img/bag-logo.png" %}" alt="" style="min-width: 100px; max-width: 360px; width: 10%; height: auto; left: -1000px; position: fixed; z-index: -1" id="moving-bag"/> 
    </div>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
$(function() {
    var img = $("#moving-bag"),
        width = img.get(0).width,
        screenWidth = $(window).width(),
        screenHeight = Math.min($(window).height(), 760),
        duration = 2500;
    img.css("top", screenHeight/2 - img.get(0).height/2);

    function animarBag1() {
        screenWidth = $(window).width();
        screenHeight = Math.min($(window).height(), 760);
        img.css({"left": -width, "width": "10%"}).css("top", screenHeight/2 - img.get(0).height/2).animate({
            "left": screenWidth/2 - width
        }, duration, "linear", animarBag2);
    }
    function animarBag2() {
        img.css("width", img.get(0).width*2).css("top", screenHeight/2 - img.get(0).height/2).animate({
            "left": screenWidth
        }, duration, "linear", animarBag1);
    }

    animarBag1();
});
</script>
{% endblock %}
