{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-yellow-crusta">
			<i class="icon-user font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase"> Olá, {{request.user.investidor|default:'visitante'}}! </span>
		</div>
        {% if request.user.investidor %}
		<div class="actions">
			<a href="{% url "inicio:detalhamento_investimentos" %}" class="btn btn-warning">Ver histórico detalhado</a>
		</div>
        {% endif %}
	</div>
	<div class="portlet-body">
		<div class="row">
			<div class="col-md-12">
				<h2 class="font-yellow-crusta" align="center">
				Total atual: <strong>R$ <span data-counter="counterup" data-value="{{total_atual_investimentos}}">0</span></strong></h2>
				<br/>	
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet box yellow-crusta">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-grid"></i>Investimentos</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="mt-element-overlay">
							<div class="row">
								{% for investimento in investimentos_atuais %}
								<div class="col-md-2">
									<div class="mt-overlay-6" style="background: none;">
										<img src={% static "assets/global/img/bag-logo-overlay.png" %}>
										<div class="mt-overlay">
											<h2 class="font-dark"><strong>{{investimento.descricao}}<br/>R$<span data-counter="counterup" data-value="{{investimento.valor}}">0</span></strong></h2>
											<a class="mt-info uppercase btn dark btn-outline" href="{% url investimento.link %}">Detalhar</a>
										</div>
									</div>
								</div>
                                {% empty %}
                                <div class="text-center">
                                    <h4>Não há dados registrados</h4>
                                </div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>
			<div class="col-md-4">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet box yellow-crusta">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-clock-o"></i>Últimas operações</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="list-group">
							{% for operacao in ultimas_operacoes %}
							<a href="#" class="list-group-item">{{operacao}}</a>
							{% empty %}
							<a href="#" class="list-group-item">Não há operações</a>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>
			<div class="col-md-6">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet box yellow-crusta">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-money"></i>Proventos a receber</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="row">
							<div class="mt-element-list col-md-6">
								<div class="mt-list-head list-simple ext-1 font-white bg-grey-gallery">
									<div class="list-head-title-container">
										<div class="list-date">{% now "d \d\e N" %}</div>
										<h5 class="list-title">Ações</h5>
									</div>
								</div>
								<div class="mt-list-container list-simple ext-1 group">
									{% if proventos_acoes_recebidos_hoje %}
									<a class="list-toggle-container" data-toggle="collapse" href="#acao_hoje" aria-expanded="false">
										<div id="pulsate_acao_hoje" class="list-toggle uppercase"> Recebidos hoje
										</div>
									</a>
									<div class="panel-collapse collapse in" id="acao_hoje">
										<ul>
											{% for provento in proventos_acoes_recebidos_hoje %}
											<li class="mt-list-item">
												<div class="list-datetime">{{provento.data_pagamento|date:"d \d\e N"}}</div>
												<div class="list-item-content">
													<h3 class="uppercase">
														<a href="#">{{provento.acao.ticker}}</a>
														<br/>R$ {{provento.quantia_a_receber}}  
													</h3>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
									{% endif %}
									<a class="list-toggle-container" data-toggle="collapse" href="#acao_ex_passado" aria-expanded="false">
										<div class="list-toggle uppercase"> Passada data EX
											{% if proventos_acoes_a_receber %}
											<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_acoes_a_receber|length}}</span>
											{% endif %}
										</div>
									</a>
									<div class="panel-collapse collapse in" id="acao_ex_passado">
										<ul>
											{% for provento in proventos_acoes_a_receber %}
											<li class="mt-list-item">
												<div class="list-datetime">{{provento.data_pagamento|date:"d \d\e N"}}</div>
												<div class="list-item-content">
													<h3 class="uppercase">
														<a href="#">{{provento.acao.ticker}}</a>
														<br/>R$ {{provento.quantia_a_receber}}	
													</h3>
												</div>
											</li>
											{% empty %}
											<li class="mt-list-item">
												<div class="list-item-content">
													<h3 class="uppercase">Sem proventos</h3>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
									<a class="list-toggle-container" data-toggle="collapse" href="#acao_ex_futuro" aria-expanded="false">
										<div class="list-toggle uppercase"> Data EX por vir
											{% if proventos_acoes_futuros %}
											<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_acoes_futuros|length}}</span>
											{% endif %}
										</div>
									</a>
									<div class="panel-collapse collapse" id="acao_ex_futuro">
										<ul>
											{% for provento in proventos_acoes_futuros %}
											<li class="mt-list-item">
												<div class="list-datetime">{{provento.data_ex|date:"d \d\e N"}}</div>
												<div class="list-item-content">
													<h3 class="uppercase">
														<a href="#">{{provento.acao.ticker}}</a>
														<br/>R$ {{provento.quantia_a_receber}}
													</h3>
												</div>
											</li>
											{% empty %}
											<li class="mt-list-item">
												<div class="list-item-content">
													<h3 class="uppercase">Sem proventos</h3>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<div class="mt-element-list col-md-6">
								<div class="mt-list-head list-simple ext-1 font-white bg-grey-gallery">
									<div class="list-head-title-container">
										<div class="list-date">{% now "d \d\e N" %}</div>
										<h5 class="list-title">FII</h5>
									</div>
								</div>
								<div class="mt-list-container list-simple ext-1 group">
									{% if proventos_fiis_recebidos_hoje %}
									<a class="list-toggle-container" data-toggle="collapse" href="#fii_hoje" aria-expanded="false">
										<div id="pulsate_fii_hoje" class="list-toggle uppercase"> Recebidos hoje
										</div>
									</a>
									<div class="panel-collapse collapse in" id="fii_hoje">
										<ul>
											{% for provento in proventos_fiis_recebidos_hoje %}
											<li class="mt-list-item">
												<div class="list-datetime">{{provento.data_pagamento|date:"d \d\e N"}}</div>
												<div class="list-item-content">
													<h3 class="uppercase">
														<a href="#">{{provento.fii.ticker}}</a>
														<br/>R$ {{provento.quantia_a_receber}}  
													</h3>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
									{% endif %}
									<a class="list-toggle-container" data-toggle="collapse" href="#fii_ex_passado" aria-expanded="false">
										<div class="list-toggle uppercase"> Passada data EX
											{% if proventos_fiis_a_receber %}
											<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_fiis_a_receber|length}}</span>
											{% endif %}
										</div>
									</a>
									<div class="panel-collapse collapse in" id="fii_ex_passado">
										<ul>
											{% for provento in proventos_fiis_a_receber %}
											<li class="mt-list-item">
												<div class="list-datetime">{{provento.data_pagamento|date:"d \d\e N"}}</div>
												<div class="list-item-content">
													<h3 class="uppercase">
														<a href="#">{{provento.fii.ticker}}</a>
														<br/>R$ {{provento.quantia_a_receber}}
													</h3>
												</div>
											</li>
											{% empty %}
											<li class="mt-list-item">
												<div class="list-item-content">
													<h3 class="uppercase">Sem proventos</h3>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
									<a class="list-toggle-container" data-toggle="collapse" href="#fii_ex_futuro" aria-expanded="false">
										<div class="list-toggle uppercase"> Data EX por vir
											{% if proventos_fiis_futuros %}
											<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_fiis_futuros|length}}</span>
											{% endif %}
										</div>
									</a>
									<div class="panel-collapse collapse" id="fii_ex_futuro">
										<ul>
											{% for provento in proventos_fiis_futuros %}
											<li class="mt-list-item">
												<div class="list-datetime">{{provento.data_ex|date:"d \d\e N"}}</div>
												<div class="list-item-content">
													<h3 class="uppercase">
														<a href="#">{{provento.fii.ticker}}</a>
														<br/>R$ {{provento.quantia_a_receber}}
													</h3>
												</div>
											</li>
											{% empty %}
											<li class="mt-list-item">
												<div class="list-item-content">
													<h3 class="uppercase">Sem proventos</h3>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>
			<div class="col-md-2">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet box yellow-crusta">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-money"></i>Acum. mensal</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h4>
									Mês atual
								</h4>
							</div>
							<div class="col-md-12 text-center font-yellow-crusta">
								<p class="lead">
									<strong>R$ <span data-counter="counterup" data-value="{{ acumulado_mensal_atual }}">0</span></strong>
								</p>
							</div>
							<div class="col-md-12 text-center">
								<h4>
									Mês anterior
								</h4>
							</div>
							<div class="col-md-12 text-center font-yellow-crusta">
								<p class="lead">
									<strong>R$ <span data-counter="counterup" data-value="{{ acumulado_mensal_anterior }}">0</span></strong>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>
			<div class="col-md-12">
				<!-- BEGIN BASIC CHART PORTLET-->
				<div class="portlet box yellow-crusta">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-line-chart"></i>Gráfico de rendimento diário (renda fixa)</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="chart" id="graf_rendimentos_mensal" style="width:100%;height:400px"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/plugins/counterup/jquery.waypoints.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/counterup/jquery.counterup.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/jquery.pulsate.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.resize.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.categories.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.stack.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.crosshair.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.axislabels.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.time.min.js" %} type="text/javascript"></script>
<script>
$( document ).ready(function() {
    $.plot($("#graf_rendimentos_mensal"), [ {color: "#33AA33", label: "Letras de Crédito", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: {{ graf_rendimentos_mensal_lc|safe }} }, 
                                           {color: "#8811AA", label: "CDB/RDB", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: {{ graf_rendimentos_mensal_cdb_rdb|safe }} },
                                           {color: "#AABB33", label: "Tesouro Direto", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: {{ graf_rendimentos_mensal_td|safe }} },
                                           {color: "#FF1100", label: "Debêntures", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: {{ graf_rendimentos_mensal_debentures|safe }} },
                                           {color: "#222222", label: "CRI/CRA", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: {{ graf_rendimentos_mensal_cri_cra|safe }} },
                                      ],
                                        {grid: { hoverable: true}, legend:{position:"nw"}, xaxis: {mode: "time",timeformat: "%d/%m"},
                                        } 
    );
    
function showTooltip(x, y, contents) {
        
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#graf_rendimentos_mensal").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                
                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = String(item.datapoint[1].toFixed(2)).replace('.', ',');
                
                var date = new Date(parseInt(x));
                showTooltip(item.pageX, item.pageY, $.plot.formatDate(date, "%d/%m/%y") +"</br>" + item.series.label + ": R$" + y);
            }
        }
        else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;            
        }
    });
    
    if ($('#pulsate_acao_hoje').length) {
        $('#pulsate_acao_hoje').pulsate({
            color: "#D91E18",
            reach: 20,
            repeat: 4,
            speed: 1000
        });
    }
    if ($('#pulsate_fii_hoje').length) {
        $('#pulsate_fii_hoje').pulsate({
            color: "#D91E18",
            reach: 20,
            repeat: 4,
            speed: 1000
        });
    }
});
</script>
{% endblock %}