{% extends "base.html" %}
{% load staticfiles %}
{% load misc %}

{% block pagina_titulo_icone %}
<i class="icon-user font-yellow-crusta"></i>
{% endblock %}

{% block extra_titulo %}
{% if request.user.is_authenticated %}
<div class="actions">
    <a href="{% url "inicio:detalhamento_investimentos" %}" class="btn btn-warning">Ver histórico detalhado</a>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="portlet-body">
	<div class="row">
		<div class="col-md-12">
			<h2 class="font-yellow-crusta" align="center">
			Total atual: <strong>R$ <span data-counter="counterup" id="total_atual" data-value="{{total_atual_investimentos}}">0</span></strong></h2>
			<br/>	
			<!-- BEGIN Portlet PORTLET-->
			<div class="portlet box yellow-crusta">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-grid"></i>Investimentos</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="mt-element-overlay">
						<div class="row" style="padding: 0 8px;">
							{% for investimento in investimentos_atuais %}
							<div class="col-xs-12 col-md-2 col-md-especial">
								<div class="mt-overlay-6" style="background: none;">
									<img src={% static "assets/global/img/bag-logo-overlay.png" %} alt="{{investimento.descricao}}">
									<div class="mt-overlay" style="padding: 10px 0;">
										<h2 class="font-dark"><strong>{{investimento.descricao}}<br/>R$ <span data-counter="counterup" data-value="{{investimento.valor}}">0</span></strong></h2>
										<a class="mt-info uppercase btn dark btn-outline" href="{% url investimento.link %}">Detalhar</a>
									</div>
								</div>
							</div>
                            {% empty %}
                            <div class="text-center">
                                <h4>Não há dados registrados</h4>
                            </div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- END Portlet PORTLET-->
		</div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box yellow-crusta">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-money"></i>Rendimento</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                        	<div class="row" id="rendimento_medio" style="min-height: 50px;">
	                            {% if not request.user.is_authenticated %}
	                            <div class="row">
	                                <div class="col-md-12">
	                                    <span>Não há dados</span>
	                                </div>
	                                <div class="col-md-12 text-center"><a href="{% url 'inicio:calcular_renda_futura' %}">Cálculos de renda média</a></div>
	                            </div>
	                            {% endif %}
                            </div>
                            <hr>
                            <div class="row" id="acumulado_mensal" style="min-height: 50px;">
                            	{% if not request.user.is_authenticated %}
			                    <div class="row">
			                        <div class="col-md-12">
			                            <span>Não há dados</span>
			                        </div>
			                    </div>
			                    {% endif %}
		                    </div>
                        </div>
                    </div>
                    <!-- END Portlet PORTLET-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet box yellow-crusta">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-clock-o"></i>Últimas operações</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="list-group">
                        {% for operacao in ultimas_operacoes %}
                        <a href="{{operacao.link}}" class="list-group-item">{{operacao}}</a>
                        {% empty %}
                        <a href="javascript:;" class="list-group-item">Não há operações cadastradas</a>
                        {% endfor %}
                        {% comment %}
                        {% if ultimas_operacoes %}
                        <div class="row">
                            <div class="col-md-12 text-center"><a href="{% url 'inicio:listar_operacoes' %}">Ver todas as operações</a></div>
                        </div>
                        {% endif %}
                        {% endcomment %}
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
		<div class="col-md-5">
			<!-- BEGIN Portlet PORTLET-->
			<div class="portlet box yellow-crusta">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-money"></i>Proventos a receber</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
						<div class="mt-element-list col-md-6">
							<div class="mt-list-container list-simple ext-1 group">
								{% if proventos_acoes_recebidos_hoje %}
								<a class="list-toggle-container" data-toggle="collapse" href="#acao_hoje" aria-expanded="false">
									<div id="pulsate_acao_hoje" class="list-toggle uppercase bg-yellow-crusta"> Ações - Recebidos hoje
										<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_acoes_recebidos_hoje|length}}</span>
									</div>
								</a>
								<div class="panel-collapse collapse in lista-proventos" id="acao_hoje">
									{% if proventos_acoes_recebidos_hoje %}
									<div class="panel-body">
										<div class="list-group no-space">
											{% for provento in proventos_acoes_recebidos_hoje %}
											<a href="{% url 'acoes:geral:detalhar_provento_acao' provento.id %}" class="list-group-item">
												<div class="row">
													<span class="col-md-4">{{provento.acao.ticker}}</span>
													<span class="col-md-5">R$ {{provento.quantia_a_receber}}</span>
													<span class="col-md-3 text-right">{{provento.data_pagamento|date:"d/m"}}
												</div>
											</a>
											{% endfor %}
										</div>
									</div>
									{% endif %}
								</div>
								{% endif %}
								<a class="list-toggle-container" data-toggle="collapse" href="#acao_ex_passado" aria-expanded="false">
									<div class="list-toggle uppercase bg-yellow-crusta"> Ações - Passada data EX
										{% if proventos_acoes_a_receber %}
										<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_acoes_a_receber|length}}</span>
										{% endif %}
									</div>
								</a>
								<div class="panel-collapse collapse in lista-proventos" id="acao_ex_passado">
									{% if proventos_acoes_a_receber %}
									<div class="panel-body">
										<div class="list-group no-space">
											{% for provento in proventos_acoes_a_receber %}
											<a href="{% url 'acoes:geral:detalhar_provento_acao' provento.id %}" class="list-group-item">
												<div class="row">
													<span class="col-md-4">{{provento.acao.ticker}}</span>
													<span class="col-md-5">R$ {{provento.quantia_a_receber}}</span>
													<span class="col-md-3 text-right">{{provento.data_pagamento|date:"d/m"}}
												</div>
											</a>
											{% endfor %}
										</div>
									</div>
									{% endif %}
								</div>
								<a class="list-toggle-container" data-toggle="collapse" href="#acao_ex_futuro" aria-expanded="false">
									<div class="list-toggle uppercase bg-yellow-crusta"> Ações - Data EX por vir
										{% if proventos_acoes_futuros %}
										<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_acoes_futuros|length}}</span>
										{% endif %}
									</div>
								</a>
								<div class="panel-collapse collapse lista-proventos" id="acao_ex_futuro">
									{% if proventos_acoes_futuros %}
									<div class="panel-body">
										<div class="list-group no-space">
											{% for provento in proventos_acoes_futuros %}
											<a href="{% url 'acoes:geral:detalhar_provento_acao' provento.id %}" class="list-group-item">
												<div class="row">
													<span class="col-md-4">{{provento.acao.ticker}}</span>
													<span class="col-md-5">R$ {{provento.quantia_a_receber}}</span>
													<span class="col-md-3 text-right">{{provento.data_ex|date:"d/m"}}
												</div>
											</a>
											{% endfor %}
										</div>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="mt-element-list col-md-6">
							<div class="mt-list-container list-simple ext-1 group">
								{% if proventos_fiis_recebidos_hoje %}
								<a class="list-toggle-container" data-toggle="collapse" href="#fii_hoje" aria-expanded="false">
									<div id="pulsate_fii_hoje" class="list-toggle uppercase bg-yellow-crusta"> FII - Recebidos hoje
										<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_fiis_recebidos_hoje|length}}</span>
									</div>
								</a>
								<div class="panel-collapse collapse in lista-proventos" id="fii_hoje">
									<div class="panel-body">
										<div class="list-group no-space">
											{% for provento in proventos_fiis_recebidos_hoje %}
											<a href="{% url 'fii:detalhar_provento_fii' provento.id %}" class="list-group-item">
												<div class="row">
													<span class="col-md-4">{{provento.fii.ticker}}</span>
													<span class="col-md-5">R$ {{provento.quantia_a_receber}}</span>
													<span class="col-md-3 text-right">{{provento.data_pagamento|date:"d/m"}}
												</div>
											</a>
											{% endfor %}
										</div>
									</div>
								</div>
								{% endif %}
								<a class="list-toggle-container" data-toggle="collapse" href="#fii_ex_passado" aria-expanded="false">
									<div class="list-toggle uppercase bg-yellow-crusta"> FII - Passada data EX
										{% if proventos_fiis_a_receber %}
										<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_fiis_a_receber|length}}</span>
										{% endif %}
									</div>
								</a>
								<div class="panel-collapse collapse in lista-proventos" id="fii_ex_passado">
									{% if proventos_fiis_a_receber %}
									<div class="panel-body">
										<div class="list-group no-space">
											{% for provento in proventos_fiis_a_receber %}
											<a href="{% url 'fii:detalhar_provento_fii' provento.id %}" class="list-group-item">
												<div class="row">
													<span class="col-md-4">{{provento.fii.ticker}}</span>
													<span class="col-md-5">R$ {{provento.quantia_a_receber}}</span>
													<span class="col-md-3 text-right">{{provento.data_pagamento|date:"d/m"}}
												</div>
											</a>
											{% endfor %}
										</div>
									</div>
									{% endif %}
								</div>
								<a class="list-toggle-container" data-toggle="collapse" href="#fii_ex_futuro" aria-expanded="false">
									<div class="list-toggle uppercase bg-yellow-crusta"> FII - Data EX por vir
										{% if proventos_fiis_futuros %}
										<span class="badge badge-default pull-right bg-white font-grey-gallery bold">{{proventos_fiis_futuros|length}}</span>
										{% endif %}
									</div>
								</a>
								<div class="panel-collapse collapse lista-proventos" id="fii_ex_futuro">
									{% if proventos_fiis_futuros %}
									<div class="panel-body">
										<div class="list-group no-space">
											{% for provento in proventos_fiis_futuros %}
											<a href="{% url 'fii:detalhar_provento_fii' provento.id %}" class="list-group-item">
												<div class="row">
													<span class="col-md-4">{{provento.fii.ticker}}</span>
													<span class="col-md-5">R$ {{provento.quantia_a_receber}}</span>
													<span class="col-md-3 text-right">{{provento.data_ex|date:"d/m"}}
												</div>
											</a>
											{% endfor %}
										</div>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END Portlet PORTLET-->
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<!-- BEGIN Portlet PORTLET-->
			<div class="portlet box yellow-crusta">
			    <div class="portlet-title">
			        <div class="caption">
			            <i class="fa fa-clock-o"></i>Próximos vencimentos renda fixa</div>
			        <div class="tools">
			            <a href="javascript:;" class="collapse"></a>
			        </div>
			    </div>
			    <div class="portlet-body text-center" id="proximos_vencimentos" style="min-height: 50px;">
			    	{% if not request.user.is_authenticated %}
                    <div class="row">
                        <div class="col-md-12">
                            <span>Não há vencimentos</span>
                        </div>
                    </div>
                    {% endif %}
			    </div>
			</div>
			<!-- END Portlet PORTLET-->
		</div>
		<div class="col-md-8">
			<div class="portlet box yellow-crusta">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-line-chart"></i>Gráfico de rendimento diário (renda fixa)</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body" id="portlet_body_graf_rendimentos_mensal">
					<div class="chart" id="graf_rendimentos_mensal" style="width:100%;height:400px"></div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/plugins/counterup/jquery.waypoints.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/counterup/jquery.counterup.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/jquery.pulsate.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/moment.min.js" %} type="text/javascript"></script>
{% if request.user.is_authenticated %}
<script src={% static "assets/global/plugins/flot/jquery.flot.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.resize.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.categories.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.stack.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.crosshair.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.axislabels.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.time.min.js" %} type="text/javascript"></script>
{% endif %}
<script type="text/javascript">
$( document ).ready(function() {
	$('.mt-overlay-6').hover(function() {
		$('.mt-overlay-6').not(this).find('.mt-overlay').css({'opacity': 0.5}).find('h2').css({'font-size': '16px'});
	}, function() {
		$('.mt-overlay-6').not(this).find('.mt-overlay').css({'opacity': 1}).find('h2').css({'font-size': '17px'});
		//$('.mt-overlay-6').not(this).find('.mt-overlay').animate({'opacity': 1}, 500).find('h2').animate({'font-size': '17px'}, 500);
	});
	
	{% if request.user.is_authenticated %}
	// Gráfico renda fixa
	App.blockUI({
        target: '#portlet_body_graf_rendimentos_mensal',
        iconOnly: true,
        overlayColor: 'none'
    });

	$.ajax({
        url : "{% url 'inicio:grafico_renda_fixa_painel_geral' %}",
        type : "GET",

        // handle a successful response
        success : function(resultado) {
            if (resultado.sucesso) {
                var graf_rendimentos_mensal_cdb_rdb = resultado.graf_rendimentos_mensal_cdb_rdb;
                var graf_rendimentos_mensal_cri_cra = resultado.graf_rendimentos_mensal_cri_cra;
                var graf_rendimentos_mensal_debentures = resultado.graf_rendimentos_mensal_debentures;
                var graf_rendimentos_mensal_lc = resultado.graf_rendimentos_mensal_lc;
                var graf_rendimentos_mensal_lci_lca = resultado.graf_rendimentos_mensal_lci_lca;
                var graf_rendimentos_mensal_td = resultado.graf_rendimentos_mensal_td;
                
                $.plot($("#graf_rendimentos_mensal"), [ {color: "#33AA33", label: "LCI/LCA", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: graf_rendimentos_mensal_lci_lca }, 
                                                        {color: "#8811AA", label: "CDB/RDB", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: graf_rendimentos_mensal_cdb_rdb },
                                                        {color: "#AABB33", label: "Tesouro Direto", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: graf_rendimentos_mensal_td },
                                                        {color: "#FF1100", label: "Debêntures", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: graf_rendimentos_mensal_debentures },
                                                        {color: "#5C5848", label: "CRI/CRA", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: graf_rendimentos_mensal_cri_cra },
                                                        {color: "#3E3A2A", label: "Letras de Câmbio", bars: {show:true, align:"center", barWidth: 24 * 60 * 60 * 100, lineWidth: 1, stacked: false}, data: graf_rendimentos_mensal_lc },
                                                   ],
                                                     {grid: { hoverable: true}, legend:{position:"nw"}, xaxis: {mode: "time",timeformat: "%d/%m"},
                                                     } 
                 );
                 
                 function showTooltip(x, y, contents) {
                     
                     $('<div id="tooltip">' + contents + '</div>').css( {
                         position: 'absolute',
                         display: 'none',
                         top: y + 5,
                         left: x + 5,
                         border: '1px solid #fdd',
                         padding: '2px',
                         'background-color': '#fee',
                         opacity: 0.80
                     }).appendTo("body").fadeIn(200);
                 }

                 var previousPoint = null;
                 $("#graf_rendimentos_mensal").bind("plothover", function (event, pos, item) {
                     $("#x").text(pos.x.toFixed(2));
                     $("#y").text(pos.y.toFixed(2));

                     if (item) {
                         if (previousPoint != item.datapoint) {
                             previousPoint = item.datapoint;
                             
                             $("#tooltip").remove();
                             var x = item.datapoint[0].toFixed(2),
                                 y = String(item.datapoint[1].toFixed(2)).replace('.', ',');
                             
                             var date = new Date(parseInt(x));
                             showTooltip(item.pageX, item.pageY, moment.utc(date).format('DD/MM/YYYY') +"</br>" + item.series.label + ": R$" + y);
                         }
                     }
                     else {
                         $("#tooltip").remove();
                         clicksYet = false;
                         previousPoint = null;            
                     }
                 });
            } 
            App.unblockUI('#portlet_body_graf_rendimentos_mensal');
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            App.unblockUI('#portlet_body_graf_rendimentos_mensal');
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
	
	// Acumulado mensal
	App.blockUI({
        target: '#acumulado_mensal',
        iconOnly: true,
        overlayColor: 'none'
    });

    $.ajax({
        url : "{% url 'inicio:acumulado_mensal_painel_geral' %}",
        type : "GET",

        // handle a successful response
        success : function(resultado) {
            $('#acumulado_mensal').html(resultado);
            $("#acumulado_mensal [data-counter='counterup']").counterUp({
                delay: 10,
                time: 1000
            });
            App.unblockUI('#acumulado_mensal');
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            App.unblockUI('#acumulado_mensal');
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
    
    // Rendimento mensal
    App.blockUI({
        target: '#rendimento_medio',
        iconOnly: true,
        overlayColor: 'none'
    });

    var total_atual = $('#total_atual').attr('data-value').replace(/\./g, '').replace(',', '.');
    $.ajax({
        url : "{% url 'inicio:rendimento_medio_painel_geral' %}",
        type : "GET",
        data : {total_atual: total_atual},

        // handle a successful response
        success : function(resultado) {
            $('#rendimento_medio').html(resultado);
            $("#rendimento_medio [data-counter='counterup']").counterUp({
                delay: 10,
                time: 1000
            });
            App.unblockUI('#rendimento_medio');
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            App.unblockUI('#rendimento_medio');
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
    
    // Próximos vencimentos
    App.blockUI({
        target: '#proximos_vencimentos',
        iconOnly: true,
        overlayColor: 'none'
    });
    
    $.ajax({
        url : "{% url 'inicio:proximos_vencimentos' %}",
        type : "GET",

        // handle a successful response
        success : function(resultado) {
            $('#proximos_vencimentos').html(resultado);
            App.unblockUI('#proximos_vencimentos');
            
            // Animar barras de progresso
            if ($('.progress-bar:not(.progress-done)').length > 0) {
			    fill();
			}
			
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            App.unblockUI('#proximos_vencimentos');
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
	{% endif %}
	
	// Pulsar para proventos na data
    if ($('#pulsate_acao_hoje').length) {
        $('#pulsate_acao_hoje').pulsate({
            color: "#D91E18",
            reach: 20,
            repeat: 4,
            speed: 1000
        });
    }
    if ($('#pulsate_fii_hoje').length) {
        $('#pulsate_fii_hoje').pulsate({
            color: "#D91E18",
            reach: 20,
            repeat: 4,
            speed: 1000
        });
    }
    
    // Animar barras de progresso
    if (!window.requestAnimationFrame) {
	    window.requestAnimationFrame = function(fn){
	        setTimeout(fn,16.66);
	    }
	}
	function fill() {
	  var start = null;
	  function timer(timestamp) {
		if (!start) start = timestamp + 50;
		var progress = Math.max(timestamp - start, 0);
		elem = $('.progress-bar:not(.progress-done)').first();
		var limit = Math.min(100, parseFloat(elem.attr('aria-valuenow'))); 
	    elem.css('width', Math.min(progress*limit/5, limit) + '%'); 
	    if (parseFloat(elem.css('width')) >= limit) {
	      elem.css('width', limit + '%').addClass('progress-done');
	      start = null;
	    }
	    if ($('.progress-bar:not(.progress-done)').length > 0) {
	    	requestAnimationFrame(timer);
	    } else {
	    	$('.progress-done').removeClass('progress-done');
	    	requestAnimationFrame(function(){});
	    }
	  }
	  requestAnimationFrame(timer);
	}
});
</script>
{% endblock %}