{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-yellow-crusta">
			<i class="icon-info font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase"> Sobre o site </span>
		</div>
	</div>
	<div class="portlet-body">
		<div class="row">
			<div class="col-md-12">
                <p>
                O Bag of Gold (BOG) é uma ferramenta para acompanhar os seus investimentos. Nele, você consegue ter uma visão geral de todos os investimentos que você possui, independente de onde eles estão.
                </p>
                <p>
                No seu banco ou em qualquer corretora, o BOG reúne em um único lugar todo o seu patrimônio. Com isso, você não precisa mais acessar site por site e gerenciar planilhas de excel – o BOG faz isso pra você.
                </p>
                <p>
                Esta é a versão XX do BOG. O site está em constante aperfeiçoamento para proporcionar a você a melhor e mais simples experiência possível gerenciando o seu dinheiro.
                </p>
                <p>
                Dúvidas ou sugestões? Entre em contato pelo e-mail <a href="mailto:info@metronic.com">suporte@bagofgold.com.br</a>
                </p>
            </div>
        </div>
	</div>
</div>

{% endblock %}