{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-yellow-crusta">
			<i class="icon-info font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase"> Bem-vindo ao Bag of Gold! </span>
		</div>
	</div>
	<div class="portlet-body">
		<div class="row">
			<div class="col-md-12">
                <p>
                O <strong>Bag of Gold</strong> (BoG) é uma ferramenta para acompanhar os seus investimentos. Nele, você consegue ter uma visão geral de todos os investimentos que você possui, 
                independente de onde eles estão. Após cadastrar suas operações (em ações, letras de crédito, CDB e outros), será possível acompanhar a evolução diária de suas aplicações.
                </p>
                <p>
                Você não precisa acessar diversas contas de bancos e corretoras, ou gerenciar planilhas, para saber a situação atual de seus investimentos. 
                </p>
                
                <p>
                <strong>Importante: Todos os valores são aproximados e podem não bater com o valor exato de seus investimentos. A ferramenta objetiva um erro de no máximo um centavo para cada operação, devido a 
                arredondamentos.</strong>
                </p>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-grid"></i>Versão atual</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <p>
                        Esta é a versão <strong>{{CURRENT_VERSION}}</strong> do BOG.
                        </p>
                        <p>
                        O site está em constante aperfeiçoamento para proporcionar a você a melhor e mais simples experiência possível gerenciando o seu dinheiro.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-grid"></i>Contato</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <p>
                        Dúvidas ou sugestões? Entre em contato pelo e-mail <a href="mailto:info@metronic.com">suporte@bagofgold.com.br</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

{% endblock %}