{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block extra_head %}
<link href={% static "assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" %} rel="stylesheet" type="text/css" />
<link href={% static "assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block pagina_titulo_icone %}
<i class="icon-plus font-yellow-crusta"></i>
{% endblock %}

{% block content %}
<div class="portlet-body form">
	<!-- BEGIN FORM-->
	<form method="POST" class="horizontal-form">{% csrf_token %}
		<div class="form-body">
			<div class="row">
				<div class="form-group col-md-6 {% if form_outros_invest.nome.errors %} has-error {% endif %}">
					<label class="control-label col-md-4" style="text-align: left;"> {{form_outros_invest.nome.label}}:</label>
					<div class="col-md-8">
						<input type="text" class="form-control" maxlength="30" name="nome" id="id_nome">
						{% if form_outros_invest.nome.errors %} <span class="help-block"> {{ form_outros_invest.nome.errors.as_text }} </span> {% endif %}
					</div>
				</div>
				<div class="form-group col-md-6 {% if form_outros_invest.descricao.errors %} has-error {% endif %}">
                    <label class="control-label col-md-4" style="text-align: left;"> {{form_outros_invest.descricao.label}} :</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" maxlength="100" name="descricao" id="id_descricao" value="{{form_outros_invest.descricao.value|default:''}}">
                        {% if form_outros_invest.descricao.errors %} <span class="help-block"> {{ form_outros_invest.descricao.errors.as_text }} </span> {% endif %}
                    </div>
                </div>
			</div>
			<div class="row">
                <div class="form-group col-md-6 {% if form_outros_invest.quantidade.errors %} has-error {% endif %}">
                    <label class="control-label col-md-4"  style="text-align: left;"> {{form_outros_invest.quantidade.label}}: </label>
                    <div class="col-md-8">
                        <input id="id_quantidade" type="text" name="quantidade" class="form-control" value="{{form_outros_invest.quantidade.value}}">
                        {% if form_outros_invest.quantidade.errors %} <span class="help-block"> {{ form_outros_invest.quantidade.errors.as_text }} </span> {% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 {% if form_outros_invest.data.errors %} has-error {% endif %}">
                    <label class="control-label col-md-4" style="text-align: left;"> {{form_outros_invest.fields.data.label}}: </label>
                    <div class="col-md-8">
                        <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                            <input type="text" class="form-control" id="id_data" name="data" 
                            value="{% if form_outros_invest.data.value|date:'d/m/Y'|default:'' == '' %}{{form_outros_invest.data.value|default:''}}{% else %}{{form_outros_invest.data.value|date:'d/m/Y'}}{% endif %}">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                        {% if form_outros_invest.data.errors %} <span class="help-block"> {{ form_outros_invest.data.errors.as_text }} </span> 
                        {% else %} <span class="help-block"> Selecione uma data </span>
                        {% endif %}
                    </div>
                </div>
			</div>
            {% if varias_divisoes %}
            <div class="row" id="forms">
                <h2 class="font-yellow-crusta" align="center">
                    <strong>Divisões</strong> <button id="add-another" class="btn btn-icon-only green-steel" type="button"><i class="fa fa-plus"></i></button>
                </h2>
                {{ formset_divisao.management_form }}
                {% for form_divisao in formset_divisao %}
                <h3 class="font-yellow-crusta" align="center"><strong>Divisão {{ forloop.counter }}</strong></h3>
                <br/>
                <div class="col-md-12" id="divisao-{{forloop.counter0}}">
                    <div class="row">
                        <div class="form-group col-md-6 {% if form_divisao.divisao.errors %} has-error {% endif %}">
                            <label class="control-label col-md-4" style="text-align: left;"> {{form_divisao.divisao.label}}: </label>
                            <div class="col-md-8">
                                {% localize off %}
                                <select class="selectpicker form-control" id="id_divisaoinvestimento_set-{{forloop.counter0}}-divisao" name="divisaoinvestimento_set-{{forloop.counter0}}-divisao">
                                    {% for key, value in form_divisao.fields.divisao.widget.choices %}<option value="{{ key }}" 
                                        {% if key == form_divisao.divisao.value|add:'0' %}selected="selected"{% endif %}>{{ value }}</option>{% endfor %}
                                </select>
                                {% endlocalize %}
                                {% if form_divisao.divisao.errors %} <span class="help-block"> {{ form_divisao.divisao.errors.as_text }} </span> {% endif %}
                            </div>
                        </div>
                        <div class="form-group col-md-6 {% if form_divisao.quantidade.errors %} has-error {% endif %}">
                            <label class="control-label col-md-4"> {{form_divisao.quantidade.label}}: </label>
                            <div class="col-md-8">
                                <input id="id_divisaoinvestimento_set-{{forloop.counter0}}-quantidade" type="text" value="{{form_divisao.quantidade.value}}" name="divisaoinvestimento_set-{{forloop.counter0}}-quantidade" class="form-control">
                                {% if form_divisao.quantidade.errors %} <span class="help-block"> {{ form_divisao.quantidade.errors.as_text }} </span> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
			<div class="form-actions">
				<div class="row">
					<div class="col-md-offset col-md-3">
						<button type="submit" name="save" value="1" class="btn green-steel">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>

{% endblock %}
    
{% block extra_footer %}
<script src={% static "assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/fuelux/js/spinner.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/jquery-validation/js/jquery.validate.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/jquery-validation/js/additional-methods.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js" %} type="text/javascript"></script>
{{ form_outros_invest.media }}
{% endblock %}