{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="box-content">
        <table id="operacoes" class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>Letra</th>
                <th>Data</th>
                <th>Taxa (% do DI)</th>
                <th>Valor atual</th>
                <th>Venda permitida?</th>
            </tr>
        </thead>
        <tbody>
        {% for item in operacoes %}
        <tr>
            <td>{{item.letra_credito.nome}}</td>
            <td>{{ item.data|date:"Y-m-d" }}</td>
            <td>{{ item.taxa }}%</td>
            <td>R$ {{item.atual|floatformat:2}}</td>
            <td>{{ item.venda_permitida|yesno:"Sim,Não,Indefinido" }}</td>
        </tr>
        
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}
