{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="box-content">
        <table id="operacoes" class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>Letra</th>
                <th>Data</th>
                <th>Taxa (% do DI)</th>
                <th>Valor atual</th>
                <th>Venda permitida?</th>
                <th>Ganho no próx. dia*</th>
            </tr>
        </thead>
        <tbody>
        {% for item in operacoes %}
            <tr>
                <td>{{item.letra_credito.nome}}</td>
                <td>{{ item.data|date:"Y-m-d" }}</td>
                <td>{{ item.taxa }}%</td>
                <td>R${{item.atual|floatformat:2}}</td>
                <td>{{ item.venda_permitida|yesno:"Sim,Não,Indefinido" }}</td>
                <td>R${{item.ganho_prox_dia }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">Total</th>
                <th id="total_atual">R$0</th>
                <th></th>
                <th id="total_prox_dia">R$0</th>
            </tr>
        </tfoot>
        </table>
        * Obs.: Ganho considerando que seja repetida a taxa do dia anterior
    </div>
</div>

<script>
$( document ).ready(function() {
    var table = $('#operacoes').dataTable({"bRetrieve": true});
    var data = table._('tr');
    // Preparar total
    var total_atual = 0;
    var total_prox_dia = 0;
    $(data).each( function ( index, row ) {
        total_atual += parseFloat(row[3].match(/R\$[\d\.,]*/)[0].replace("R$", "").replace(".", "").replace(",", "."));
        total_atual = Math.round(total_atual * 100) / 100;
        total_prox_dia += parseFloat(row[5].match(/R\$[\d\.,]*/)[0].replace("R$", "").replace(".", "").replace(",", "."));
        total_prox_dia = Math.round(total_prox_dia * 100) / 100;
    });
    $('#total_atual').html('R$' + total_atual.toFixed(2).replace(".", ",").replace(/\B(?=(\d{3})+(?!\d))/g, "."));
    $('#total_prox_dia').html('R$' + total_prox_dia.toFixed(2).replace(".", ",").replace(/\B(?=(\d{3})+(?!\d))/g, "."));
});
</script>

{% endblock %}
