{% extends "teste/base.html" %}
{% load staticfiles %}

{% block extra_head %}
<link href={% static "assets/global/plugins/nouislider/nouislider.min.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-yellow-crusta">
            <i class="icon-pin font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase">LCI/LCA</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="{% if user.is_authenticated %}col-md-10{% else %}col-md-12{% endif %}">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Significado das siglas</h3>
                        <ul class="list-unstyled">
                            <li><strong>LCI</strong>: Letra de Crédito Imobiliário</li>
                            <li><strong>LCA</strong>: Letra de Crédito do Agronegócio</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>O que são?</h3>
                        <p>
                        As Letras de Crédito do Agronegócio e Imobiliário são investimentos de baixo risco, <strong>isentos de imposto de renda</strong>. A 
                        diferença entre elas é basicamente o setor no qual a instituição financeira está lastreando seus empréstimos, agronegócio ou imobiliário.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-element-step">
                            <div class="row step-line">
                                <div class="mt-step-desc text-center">
                                    <h3>Como funciona</h3>
                                </div>
                                <div class="col-md-4 mt-step-col first ">
                                    <div class="mt-step-number bg-white"><i class="icon-user font-yellow-crusta"></i></div>
                                    <div class="mt-step-title uppercase">Investidor</div>
                                    <div class="mt-step-content">Empresta dinheiro a instituição através da Letra de Crédito</div>
                                </div>
                                <div class="col-md-4 mt-step-col">
                                    <div class="mt-step-number bg-white"><i class="fa fa-bank font-yellow-crusta"></i></div>
                                    <div class="mt-step-title uppercase">Instituição</div>
                                    <div class="mt-step-content">Realiza empréstimos, no setor específico</div>
                                </div>
                                <div class="col-md-4 mt-step-col last">
                                    <div class="mt-step-number bg-white"><i class="fa fa-money font-yellow-crusta"></i></div>
                                    <div class="mt-step-title uppercase">Retorno</div>
                                    <div class="mt-step-content">Na data de vencimento, ou após o período de carência caso investidor queira resgatar, o dinheiro volta ao
                                    investidor, somado ao rendimento acordado na primeira etapa</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Garantia</h3>
                        <p>
                        São garantidas pelo FGC (Fundo Garantidor de Crédito), <strong>até um limite de R$ 250.000,00 por CPF por instituição</strong>).
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Tipos</h3>
                        <p>
                        Podem ser pré-fixadas ou pós-fixadas. As pré-fixadas já mostram ao investidor quanto ele irá receber na data de vencimento. Nas pós-fixadas,
                        a taxa de rendimento é atrelada a um índice, como o DI (mais comum) ou o IPCA, portanto o investidor só irá saber o rendimento final ao 
                        término do investimento.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Liquidez</h3>
                        <p>
                        O investidor apenas pode resgatar o dinheiro após um período de carência, se houver, ou na data de vencimento.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Imposto de Renda</h3>
                        <p>
                        Isenção desde 2004.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Para mais informações:</h3>
                        <ul class="list-unstyled">
                            <li><a href="http://www.infomoney.com.br/lci-lca">Infomoney</a></li>
                            <li><a href="http://mepoupenaweb.uol.com.br/investimentos/tudo-sobre-lci-e-lca/">Me Poupe!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-md-2">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-user"></i>Investidor</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        {% if total_investido > 0 %}
                        <h4>Total investido</h4>
                        <div class="col-md-12 text-center font-yellow-crusta">
                            <p class="lead">
                                <strong>R$ <span data-counter="counterup" data-value="{{ total_investido }}">0</span></strong>
                            </p>
                        </div>
                        {% endif %}
                        <h4>Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url "inserir_operacao_lc" %}">Inserir operação</a></li>
                            <li><a href="{% url "historico_lc" %}">Histórico de operações</a></li>
                            <li><a href="{% url "painel_lc" %}">Painel de LCI/LCA</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-line-chart"></i>Últimos valores para o DI</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="chart" id="graf_historico_di" style="width:100%;height:300px"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-line-chart"></i>Últimos valores para o IPCA</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="chart" id="graf_historico_ipca" style="width:100%;height:300px"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-money"></i>Simulador</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="chart" id="graf_simulador" style="width:100%;height:400px"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="col-md-12 control-label">Período (em meses):</label>
                                        <div class="col-md-12">
                                            <div id="rangePeriodo" class="noUi-primary margin-top-40"></div>
                                            <input type="hidden" id="rangePeriodoInput" class="filtro-simulador" value="{{filtros_simulador.periodo}}">
                                        </div>
                                        <label class="col-md-12 control-label">Rendimento (% do índice):</label>
                                        <div class="col-md-12">
                                            <div id="rangePercentual" class="noUi-primary margin-top-40"></div>
                                            <input type="hidden" id="rangePercentualInput" class="filtro-simulador" value="{{filtros_simulador.percentual_indice}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/plugins/counterup/jquery.waypoints.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/counterup/jquery.counterup.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.axislabels.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.categories.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.crosshair.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.resize.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.resize.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.stack.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.time.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/nouislider/wNumb.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/nouislider/nouislider.min.js" %} type="text/javascript"></script>
<script>
$( document ).ready(function() {    
    $.plot($("#graf_historico_di"), [ {color: "#33AA33", lines: {show:true}, data: {{ graf_historico_di|safe }} } 
    ],
    {grid: { hoverable: true, clickable: true}, xaxis: {mode: "time", timeformat: "%d/%m/%Y", tickSize: [6, "month"] } }  
    );
    
    $.plot($("#graf_historico_ipca"), [ {color: "#33AA33", lines: {show:true}, data: {{ graf_historico_ipca|safe }} } 
    ],
    {grid: { hoverable: true, clickable: true}, xaxis: {mode: "time", timeformat: "%d/%m/%Y", tickSize: [6, "month"]} }  
    );
    
    var graf_simulador = $.plot($("#graf_simulador"), [ {color: "#33AA33", lines: {show:true}, data: {{ graf_simulador|safe }} } 
    ],
    {grid: { hoverable: true, clickable: true}, xaxis: {mode: "time", timeformat: "%d/%m/%Y"} }  
    );
    
    function showTooltip(x, y, contents) {
        
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#graf_historico_di").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                
                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2).toString().replace('.', ',');
                
                var date = new Date(parseInt(x));
                showTooltip(item.pageX, item.pageY, $.plot.formatDate(date, "%d/%m/%Y") +"</br>Taxa: " + y + "%");
            }
        }
        else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;            
        }
    });
    $("#graf_historico_ipca").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                
                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2).toString().replace('.', ',');
                
                var date = new Date(parseInt(x));
                showTooltip(item.pageX, item.pageY, $.plot.formatDate(date, "%d/%m/%Y") +"</br>Taxa: " + y + "%");
            }
        }
        else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;            
        }
    });
    $("#graf_simulador").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                
                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2).toString().replace('.', ',');
                
                var date = new Date(parseInt(x));
                showTooltip(item.pageX, item.pageY, $.plot.formatDate(date, "%d/%m/%Y") +"</br>Valor: R$ " + y);
            }
        }
        else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;            
        }
    });
    
    // Periodo
    var periodoSlider = document.getElementById('rangePeriodo');
    
    noUiSlider.create(periodoSlider, {
        start: [{{filtros_simulador.periodo}}],
        connect: false,
        format: wNumb({
            decimals: 0
        }),
        step: 1,
        range: {
            'min': 2,
            'max': 36
        }
    });
    
    var periodoTipHandles = periodoSlider.getElementsByClassName('noUi-handle'),
    periodoTooltips = [];

    // Add divs to the slider handles.
    for ( var i = 0; i < periodoTipHandles.length; i++ ){
        periodoTooltips[i] = document.createElement('div');
        periodoTipHandles[i].appendChild(periodoTooltips[i]);
    }
    
    // Add a class for styling
    periodoTooltips[0].className += 'noUi-tooltip margin-top-20';
    // Add additional markup
    periodoTooltips[0].innerHTML = '<strong><span></span></strong>';
    // Replace the tooltip reference with the span we just added
    periodoTooltips[0] = periodoTooltips[0].getElementsByTagName('span')[0];
    
    // When the slider changes, write the value to the tooltips.
    periodoSlider.noUiSlider.on('update', function( values, handle ){
    	periodoTooltips[handle].innerHTML = values[handle];
        $('#rangePeriodoInput').val(values[handle]);
        $('#rangePeriodoInput').change();
    });

    // Percentual do Indice
    var percentualSlider = document.getElementById('rangePercentual');
    
    noUiSlider.create(percentualSlider, {
        start: [{{filtros_simulador.percentual_indice}}],
        connect: false,
        format: wNumb({
            decimals: 0
        }),
        step: 1,
        range: {
            'min': 10,
            'max': 110
        }
    });
    
    var percentualTipHandles = percentualSlider.getElementsByClassName('noUi-handle'),
    percentualTooltips = [];

    // Add divs to the slider handles.
    for ( var i = 0; i < percentualTipHandles.length; i++ ){
        percentualTooltips[i] = document.createElement('div');
        percentualTipHandles[i].appendChild(percentualTooltips[i]);
    }
    
    // Add a class for styling
    percentualTooltips[0].className += 'noUi-tooltip margin-top-20';
    // Add additional markup
    percentualTooltips[0].innerHTML = '<strong><span></span></strong>';
    // Replace the tooltip reference with the span we just added
    percentualTooltips[0] = percentualTooltips[0].getElementsByTagName('span')[0];
    
    // When the slider changes, write the value to the percentualTooltips.
    percentualSlider.noUiSlider.on('update', function( values, handle ){
        percentualTooltips[handle].innerHTML = values[handle];
        $('#rangePercentualInput').val(values[handle]);
        $('#rangePercentualInput').change();
    });
    
    var ultima_chamada = new Date();
    // Alterar gráfico
    $('.filtro-simulador').change(function() {
    	setTimeout(function(){
        	var hora_chamada = new Date();
        	if (hora_chamada.getTime() - ultima_chamada.getTime() > 500) { 
        		ultima_chamada = hora_chamada;
                $.ajax({
                    url : "{% url 'sobre_lc' %}", // the endpoint
                    type : "GET", // http method
                    data : {periodo: $('#rangePeriodoInput').val(), percentual_indice: $('#rangePercentualInput').val()},
        
                    // handle a successful response
                    success : function(retorno) {
                        $('#graf_simulador').empty();
                        $.plot($("#graf_simulador"), [ {color: "#33AA33", lines: {show:true}, data: retorno.graf_simulador } 
                        ],
                        {grid: { hoverable: true, clickable: true}, xaxis: {mode: "time", timeformat: "%d/%m/%Y"} }  
                        );
                    },
        
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
        	}
    	}, 500);
    });
});
</script>
{% endblock %}
