{% extends "base.html" %}

{% block content %}
    <h1>Ler documento</h1>
    <div class="span12">
    <a href="{% url 'baixar_documento_provento' pendencia.documento.id %}" class="btn btn-warning">Download</a>
    </div>
    {% if pendencia.responsavel.id == request.user.investidor.id %}
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <div id="forms">
            {{ formset.management_form }}
            {% for form in formset.forms %}
                {{ form.as_p }}
            {% endfor %}
            <input type="button" value="Add More" id="add_more">
        </div>
        <div class="form-actions">
            <button type="submit" name="save" value="1" class="btn">Salvar</button>
        </div>
    </form>
    {% endif %}
    
{% endblock %}
