{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<link href={% static "assets/global/plugins/datatables/datatables.min.css" %} rel="stylesheet" type="text/css" />
<link href={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block pagina_titulo_icone %}
<i class="icon-list font-yellow-crusta"></i>
{% endblock %}

{% block content %}
<div class="portlet-body">
    <div class="row">
        <div class="col-md-12 text-right util-btn-margin-bottom-5">
            <a class="btn btn-warning" href="{% url "gerador_proventos:detalhar_pendencias_usuario" request.user.id %}">Minhas pendências</a>
        </div>
        <div class="col-md-12">
        	<table id="pendencias_por_usuario" class="table table-striped table-bordered table-hover table-header-fixed">
        	<thead>
        		<tr>
        			<th>Usuário</th>
        			<th>Pendências alocadas</th>
        			<th>Documentos lidos</th>
                    <th>Taxa de leitura</th>
        			<th>Documentos validados</th>
                    <th>Taxa de validação</th>
        		</tr>
        	</thead>
        	<tbody>
        	{% for usuario in usuarios %}
        		<tr>
        			<td><a href="{% url "gerador_proventos:detalhar_pendencias_usuario" usuario.id %}">{{usuario.investidor}}</a></td>
        			<td>{{usuario.pendencias_alocadas}}</td>
                    <td>{{usuario.leituras}}</td>
                    <td>{{usuario.taxa_leitura|floatformat:'2'}}/dia</td>
                    <td>{{usuario.validacoes}}</td>
                    <td>{{usuario.taxa_validacao|floatformat:'2'}}/dia</td>
        		</tr>
        	{% endfor %}	
        	</tbody>
        	</table>
        </div>
        <div class="col-md-12">
            <div class="portlet box yellow-crusta">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-folder-open-o"></i>Estatísticas de leitura/validação</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4>Progresso de <span class="font-yellow-crusta">validações</span> e <span class="font-blue">leituras</span></h4>
                            <div class="progress progress-striped active" style="background: rgba(68, 77, 88, 1); height: 30px;">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{estatisticas.percentual_validado_progress}}" aria-valuemin="0" aria-valuemax="100" 
                                style="width: {{estatisticas.percentual_validado_progress}}%; background-color: #f3c200;">
                                    <span class="sr-only"> {{estatisticas.percentual_validado|floatformat:'2'}}% Validado </span>
                                </div>
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{estatisticas.percentual_a_validar_progress}}" aria-valuemin="0" aria-valuemax="100" 
                                style="width: {{estatisticas.percentual_a_validar_progress}}%; background-color: #3598dc;">
                                    <span class="sr-only"> {{estatisticas.percentual_a_validar|floatformat:'2'}}% Lido, a validar </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-grid m-grid-responsive-xs">
                                <div class="m-grid-row">
                                    <div class="m-grid-col m-grid-col-left"><strong>Total de documentos:</strong></div>
                                    <div class="m-grid-col m-grid-col-left">{{estatisticas.total_documentos}}</div>
                                    <div class="m-grid-col m-grid-col-left"><strong>Validados:</strong></div>
                                    <div class="m-grid-col m-grid-col-left">{{estatisticas.total_validado}} ({{estatisticas.percentual_validado|floatformat:'3'}}%)</div>
                                    <div class="m-grid-col m-grid-col-left"><strong>Lidos, a validar:</strong></div>
                                    <div class="m-grid-col m-grid-col-left">{{estatisticas.total_a_validar}} ({{estatisticas.percentual_a_validar|floatformat:'3'}}%)</div>
                                    <div class="m-grid-col m-grid-col-left"><strong>Ref. aos últimos 30 dias:</strong></div>
                                    <div class="m-grid-col m-grid-col-left">{{estatisticas.total_ref_30_dias}}</div>
                                </div>
                                <div class="m-grid-row">
                                    <div class="m-grid-col m-grid-col-left"><strong>Taxa de validações:</strong></div>
                                    <div class="m-grid-col m-grid-col-left">{{estatisticas.taxa_validacao_diaria|floatformat:'3'}}/dia</div>
                                    <div class="m-grid-col m-grid-col-left"><strong>Validações de usuários:</strong></div>
                                    <div class="m-grid-col m-grid-col-left">{{estatisticas.total_validado_usuario}} ({{estatisticas.percentual_validado_usuario|floatformat:'2'}}%)</div>
                                    <div class="m-grid-col m-grid-col-left"><strong>Validações do sistema:</strong></div>
                                    <div class="m-grid-col m-grid-col-left">{{estatisticas.total_validado_sistema}} ({{estatisticas.percentual_validado_sistema|floatformat:'2'}}%)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4>Previsão de <span class="font-yellow-crusta">validações</span> em 30 dias</h4>
                            <div class="progress progress-striped active" style="background: rgba(68, 77, 88, 1); height: 30px;">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{estatisticas.previsao_percentual_validado_progress}}" aria-valuemin="0" aria-valuemax="100" 
                                style="width: {{estatisticas.previsao_percentual_validado_progress}}%; background-color: #f3c200;">
                                    <span class="sr-only"> {{estatisticas.previsao_percentual_validado|floatformat:'2'}}% Validado </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-grid m-grid-responsive-xs">
                                <div class="m-grid-row">
                                    <div class="m-grid-col m-grid-col-md-1 m-grid-col-left"><strong>Total de documentos:</strong></div>
                                    <div class="m-grid-col m-grid-col-md-1 m-grid-col-left">{{estatisticas.previsao_total_documentos}}</div>
                                    <div class="m-grid-col m-grid-col-md-1 m-grid-col-left"><strong>Validados:</strong></div>
                                    <div class="m-grid-col m-grid-col-md-1 m-grid-col-left">{{estatisticas.previsao_total_validado}} ({{estatisticas.previsao_percentual_validado|floatformat:'3'}}%)</div>
                                    <div class="m-grid-col m-grid-col-md-2 m-grid-col-left"><strong>Tempo para validar todos os documentos:</strong></div>
                                    <div class="m-grid-col m-grid-col-md-2 m-grid-col-left">{{estatisticas.previsao_tempo_validacao_completa}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/scripts/datatable.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/datatables/datatables.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %} type="text/javascript"></script>
<script src={% static "assets/pages/scripts/table-datatables-fixedheader.min.js" %} type="text/javascript"></script>
{% endblock %}

