    {% extends "base.html" %}

{% block content %}
<h1>Pendências de documentos de proventos</h1>
    <div class="box-content">
    <table id="ordens" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Documento</th>
            <th>Tipo de documento</th>
            <th>Data da criação</th>
            <th>Responsável</th>
        </tr>
    </thead>
    <tbody>
    {% for pendencia in pendencias %}
    <tr>
        <td><a href="{% url 'ler_documento_provento' pendencia.id %}">{{pendencia.documento}}</a></td>
        <td>{{pendencia.tipo}}</td>
        <td>{{pendencia.data_criacao}}</td>
        <td>
        {% if pendencia.responsavel %}
            {{pendencia.responsavel}}
        {% else %}
            <a href="{% url 'puxar_responsabilidade_documento_provento' pendencia.id %}" class="btn btn-warning">Virar responsável</a> 
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
