    {% extends "base.html" %}

{% block content %}
<h1>Letras de Crédito</h1>
    <div class="box-content">
    <table id="ordens" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Carência atual</th>
            <th>Rendimento atual (DI)</th>
        </tr>
    </thead>
    <tbody>
    {% for lc in lcs %}
    <tr>
        <td>{{lc.nome}}</td>
        <td>{{lc.carencia_atual}} dia(s)</td>
        <td>{{lc.rendimento_atual}}%</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
