    {% extends "base.html" %}

{% block content %}
<h1>Pendências de documentos de proventos</h1>
    <div class="box-content">
    <table id="ordens" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Documento</th>
            <th>Tipo de documento</th>
            <th>Data da criação</th>
        </tr>
    </thead>
    <tbody>
    {% for pendencia in pendencias %}
    <tr>
        <td>{{pendencia.documento}}</td>
        <td>{{pendencia.documento.tipo}}</td>
        <td>{{pendencia.data_criacao}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
