    {% extends "base.html" %}

{% block content %}
<h1>Pendências de documentos de proventos</h1>
    <div class="box-content">
    <table id="pendencias" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Pendência</th>
            <th>Data da criação</th>
            <th>Documento</th>
            <th>Tipo de doc.</th>
            <th>Responsável</th>
        </tr>
    </thead>
    <tbody>
    {% for pendencia in pendencias %}
    <tr>
        <td>{{pendencia.tipo_pendencia}}</td>
        <td>{{pendencia.data_criacao}}</td>
        <td><a href="
        {% if pendencia.tipo == 'V' %}
            {% url 'validar_documento_provento' pendencia.id %}
        {% else %}
            {% url 'ler_documento_provento' pendencia.id %}
        {% endif %}
            ">{{pendencia.documento}}</a></td>
        <td>{{pendencia.tipo_documento}}</td>
        <td>
        {% if pendencia.responsavel %}
            {% if pendencia.responsavel.id != request.user.investidor.id %}
                {{pendencia.responsavel}}
            {% else %}
                <button onclick="remover_responsabilidade({{pendencia.id}});" class="btn btn-warning">Cancelar</button>
            {% endif %}
        {% else %}
            <button onclick="puxar_responsabilidade({{pendencia.id}});" class="btn btn-success">Reservar</button> 
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <input type="hidden" value="{{pagina_inicial}}" id="pagina_inicial" />
</div>

<script>
$( document ).ready(function() {
	var table = $('#pendencias').dataTable({"bRetrieve": true});
    console.log(table.fnPageChange(parseInt($('#pagina_inicial').val())));
//     table.fnPageInfo().iPage

    
});

function puxar_responsabilidade(id) {
    var table = $('#pendencias').dataTable({"bRetrieve": true});
    var id_pendencia = id;
//     console.log(id_pendencia + "..." + table.fnPagingInfo().iPage);
    $.ajax({
        url : "{% url 'puxar_responsabilidade_documento_provento' %}", // the endpoint
        type : "GET", // http method
        data : {id_pendencia: id_pendencia, pagina_atual: table.fnPagingInfo().iPage},

        // handle a successful response
        success : function() {
        	$(location).attr('href',"{% url 'listar_pendencias' %}");
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}

function remover_responsabilidade(id) {
    var table = $('#pendencias').dataTable({"bRetrieve": true});
    var id_pendencia = id;
//     console.log(id_pendencia + "..." + table.fnPagingInfo().iPage);
    $.ajax({
        url : "{% url 'remover_responsabilidade_documento_provento' %}", // the endpoint
        type : "GET", // http method
        data : {id_pendencia: id_pendencia, pagina_atual: table.fnPagingInfo().iPage},

        // handle a successful response
        success : function() {
            $(location).attr('href',"{% url 'listar_pendencias' %}");
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}
</script>
{% endblock %}
