{% extends "teste/base.html" %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-yellow-crusta">
            <i class="icon-list font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase">Informações para geração de proventos para ações</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-element-step">
                    <div class="row step-line">
                        <div class="mt-step-desc">
                            <h4>Funcionamento padrão</h4>
                            <span>O processo envolve 2 usuários, um para a etapa de leitura, e outro para realizar a validação.</span>
                        </div>
                        <div class="col-md-3 mt-step-col first ">
                            <div class="mt-step-number bg-white">1</div>
                            <div class="mt-step-title uppercase">Reserva</div>
                            <div class="mt-step-content">Usuário 1 reserva pendência</div>
                        </div>
                        <div class="col-md-3 mt-step-col">
                            <div class="mt-step-number bg-white">2</div>
                            <div class="mt-step-title uppercase">Leitura</div>
                            <div class="mt-step-content">Usuário 1 realiza leitura</div>
                        </div>
                        <div class="col-md-3 mt-step-col">
                            <div class="mt-step-number bg-white">3</div>
                            <div class="mt-step-title uppercase">Reserva</div>
                            <div class="mt-step-content">Usuário 2 reserva pendência</div>
                        </div>
                        <div class="col-md-3 mt-step-col last">
                            <div class="mt-step-number bg-white">4</div>
                            <div class="mt-step-title uppercase">Reserva</div>
                            <div class="mt-step-content">Usuário 2 realiza validação</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Valores
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>Os valores devem ser inseridos no sistema com todas as casas decimais mostradas no documento.</li>
                            <li>Deve sempre ser inserido o valor recebido por cota.
                                <ul>
                                    <li>Para <strong>Juros sobre Capital Próprio</strong>, inserir o valor bruto, sem o desconto de IR.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Datas
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>As datas inseridas no sistema são:
                                <ul>
                                    <li><strong>Data EX</strong>: data a partir da qual não é mais considerada a posição acionária do investidor.</li>
                                    <li><strong>Data de pagamento</strong>: data na qual o investidor recebe os proventos indicados.</li>
                                    <li><strong>Data de pagamento de frações</strong>: data na qual o investidor recebe o valor fracionário correspondente a proventos em ações (apenas para o caso de proventos em ações).</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Razões para um documento ser desconsiderado sem leitura
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>Documento é uma ata de reunião.</li>
                            <li>Documento possui <strong>mais de 10 páginas</strong>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
