{% extends "teste/base.html" %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-yellow-crusta">
            <i class="icon-list font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase">Informações para geração de proventos para ações</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-element-step">
                    <div class="row step-line">
                        <div class="mt-step-desc">
                            <h4>Funcionamento padrão</h4>
                            <span>O processo envolve 2 usuários, um para a etapa de leitura, e outro para realizar a validação.</span>
                        </div>
                        <div class="col-md-3 mt-step-col first ">
                            <a href="javascript:;" onclick="mudarPasso('1');">
                                <div class="mt-step-number bg-white">1</div>
                                <div class="mt-step-title uppercase">Reserva</div>
                                <div class="mt-step-content">Usuário 1 reserva pendência</div>
                            </a>
                        </div>
                        <div class="col-md-3 mt-step-col">
                            <a href="javascript:;" onclick="mudarPasso('2');">
                                <div class="mt-step-number bg-white">2</div>
                                <div class="mt-step-title uppercase">Leitura</div>
                                <div class="mt-step-content">Usuário 1 realiza leitura</div>
                            </a>
                        </div>
                        <div class="col-md-3 mt-step-col">
                            <a href="javascript:;" onclick="mudarPasso('3');">
                                <div class="mt-step-number bg-white">3</div>
                                <div class="mt-step-title uppercase">Reserva</div>
                                <div class="mt-step-content">Usuário 2 reserva pendência</div>
                            </a>
                        </div>
                        <div class="col-md-3 mt-step-col last">
                            <a href="javascript:;" onclick="mudarPasso('4');">
                                <div class="mt-step-number bg-white">4</div>
                                <div class="mt-step-title uppercase">Validação/Recusa</div>
                                <div class="mt-step-content">Usuário 2 realiza validação/recusa</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4 align="center">Selecione um passo para detalhá-lo</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 passo-1 passo-3">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Reservas
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>Para que um usuário possa realizar a leitura de um documento, é necessário reservar sua pendência.</li>
                            <ul>
                                <li>Na tela de listagem de pendências, clique no botão <strong>RESERVAR</strong> para ser o responsável pela pendência.</li>
                                <li>Cada usuário pode reservar para si um máximo de <strong>20 pendências</strong></li>
                            </ul>
                            <li>Caso a pendência já possua um responsável, seu nome irá aparecer na coluna mais à direita, onde ficaria o botão <strong>RESERVAR</strong></li>
                            <li>Para não ser mais o responsável por uma pendência, basta clicar em <strong>CANCELAR</strong> na tela de listagem de pendências.</li>
                            <li>Não é possível ser o responsável por uma pendência de validação de um documento para o qual já tenha realizado a leitura.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta passo-2 passo-4">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Ações
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>As ações podem ser chamadas de papéis nos documentos.</li>
                            <li>As categorias possíveis de serem encontradas nos documentos são:</li>
                            <ul>
                                <li><strong>ON</strong>: ações ordinárias, representadas pelo ticker com um <strong>3</strong>. Exemplo: <strong>BBAS3</strong></li>
                                <li><strong>PN</strong>: ações preferenciais, representadas pelo ticker com um <strong>4</strong>. Exemplo: <strong>PETR4</strong></li>
                                <li><strong>PNA</strong>: ações preferenciais classe A, representadas pelo ticker com um <strong>5</strong>. Exemplo: <strong>VALE5</strong></li>
                                <li><strong>PNB</strong>: ações preferenciais classe B, representadas pelo ticker com um <strong>6</strong>. Exemplo: <strong>ELET6</strong></li>
                                <li><strong>PNC</strong>: ações preferenciais classe C, representadas pelo ticker com um <strong>7</strong>. Exemplo: <strong>CELP7</strong></li>
                                <li><strong>PNC</strong>: ações preferenciais classe D, representadas pelo ticker com um <strong>8</strong>. Exemplo: <strong>AMRI8</strong></li>
                                <li><strong>UNIT</strong>: grupos de ações ordinárias e preferenciais, representadas pelo ticker um <strong>11</strong>. Exemplo: <strong>TAEE11</strong></li>
                            </ul>
                            <li><strong>É importante lembrar que UNITS por enquanto não estão sendo adicionadas, caso seja encontrado um documento descrevendo proventos para UNIT, cancelar leitura.</strong></li>
                            <li>Caso o documento mencione uma categoria de ação que não esteja disponível no sistema, <strong>avisar o administrador</strong>.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta passo-2 passo-4">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Proventos
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>Os tipos de proventos a serem encontrados nos documentos são:</li>
                            <ul>
                                <li><strong>Dividendos</strong>: proventos em dinheiro, descritos como uma quantia (em reais) por ação. O imposto de renda é retido na fonte.</li>
                                <li><strong>Juros sobre Capital Próprio</strong>, (<strong>JCP</strong> ou <strong>JSCP</strong>): proventos em dinheiro, descritos como uma quantia (em reais) por ação. 
                                O imposto de renda (<strong>15%</strong>)é retido no pagamento do acionista.</li>
                                <li><strong>Proventos em ações</strong>: proventos em ações, descritos como uma porcentagem ou proporção da quantidade de ações do acionista.</li>
                                <ul>
                                    <li>Também serão inseridos como proventos em ação, desdobramentos e agrupamentos de ações.</li>
                                    <li><strong>Desdobramentos</strong> são eventos onde a quantidade total de ações é multiplicada, num desdobramento de 1 para 5 por exemplo, o acionista tem sua posição
                                    aumentada para 5 vezes a posição anterior, indo de 100 ações para 500.</li>
                                    <li><strong>Agrupamentos</strong> são o oposto, a quantidade total de ações é dividida, num agrupamento de 5 para 1 o acionista vê sua posição ir de 100 para 20.</li>
                                    <li>Caso seja encontrado um documento que anuncie um desdobramento ou agrupamento, <strong>avisar o administrador</strong>.</li>
                                </ul>
                                <li>Podem aparecer também proventos de subscrição, esses eventos não serão considerados pelo sistema pois são emissões de novas ações a um preço próximo do já negociado,
                                para as quais os atuais acionistas tem preferência na compra.</li>
                            </ul>
                            <li><strong>É importante lembrar que UNITS por enquanto não estão sendo adicionadas, caso seja encontrado um documento descrevendo proventos para UNIT, cancelar leitura.</strong></li>
                            <li>Caso o documento mencione uma categoria de ação que não esteja disponível no sistema, <strong>avisar o administrador</strong>.</li>
                            <li>Caso o documento mencione uma alteração de provento, sem descrever todos os valores, <strong>avisar o administrador</strong>.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta passo-2 passo-4">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Valores
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>Os valores devem ser inseridos no sistema com todas as casas decimais mostradas no documento.</li>
                            <li>Deve sempre ser inserido o valor recebido por cota.</li>
                            <ul>
                                <li>Para <strong>Juros sobre Capital Próprio</strong>, inserir o valor bruto, sem o desconto de IR.</li>
                            </ul>
                            <li>Caso sejam descritos dois valores para uma ação, criar dois proventos. Ex: dividendos previstos e dividendos adicionais. <strong>Não somar os valores em um dividendo único</strong>.</li>
                            <li>Para os proventos em ações que possuam pagamento de frações, pegar o valor da fração descrito.</li>
                            <li>Caso seja encontrado um provento que mencione pagamento de rendimento, <strong>avisar o administrador</strong>.</li>
                            <li>Caso o pagamento seja parcelado, cada parcela deve ser adicionada com um provento separado.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 passo-2 passo-4">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Datas
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>As datas inseridas no sistema são:</li>
                            <ul>
                                <li><strong>Data EX</strong>: data a partir da qual não é mais considerada a posição acionária do investidor.</li>
                                <li><strong>Data de pagamento</strong>: data na qual o investidor recebe os proventos indicados.</li>
                                <li><strong>Data de pagamento de frações</strong>: data na qual o investidor recebe o valor fracionário correspondente a proventos em ações (apenas para o caso de proventos em ações).</li>
                            </ul>
                            <li>Caso o documento não descreva a <strong>DATA EX</strong>, pegar o próximo dia útil após a <strong>DATA BASE</strong> (também chamada de <strong>DATA DE CORTE</strong>), geralmente mencionada como 
                                data na qual os detentores da ação fazem jus ao provento.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta passo-2 passo-4">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Razões para um documento ser desconsiderado sem leitura
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>Documento é uma ata de reunião/assembléia.</li>
                            <li>Documento possui <strong>mais de 10 páginas</strong>.</li>
                            <li>Documento é uma convocação para reunião/assembléia.</li>
                            <li>Documento é um <strong>Aviso a debenturistas</strong>.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta passo-4">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-diamond"></i>Validação
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            <li>Verificar se dados dos proventos criados na leitura batem com os do documento.</li>
                            <li>Caso o documento seja uma errata ou alguma alteração sobre um provento, selecionar o provento ao qual ele se relaciona. Será criada uma nova versão para o provento.
                            <ul>
                                <li><strong>Verificar se entre os proventos próximos listados, não se encontra algum com mesma DATA EX e TIPO DE PROVENTO</strong>, pois pode ser uma alteração de provento
                                já cadastrado.</li>
                            </ul>
                            </li>
                            <li>Proventos que são alterações de proventos anteriores, que ainda não foram cadastrados, devem ter <strong>validação adiada</strong>.</li>
                            <li>Se os dados de algum dos proventos criados na etapa de leitura não estiver condizente com o texto do documento, recusar. Os passos são:
                            <ul>
                                <li>Selecionar o botão <strong>Recusar</strong>.</li>
                                <li>Preencher o campo de texto <strong>Motivo de recusa</strong> que irá aparecer.</li>
                                <li>Confirmar no botão <strong>Confirmar recusa</strong>.</li>
                            </ul>
                            <li>Ao ser recusado, o documento volta como uma pendência de leitura para o usuário que foi responsável por sua leitura.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_footer %}
<script>
$( document ).ready(function() {
	mudarPasso('1');
});
function mudarPasso(passo) {
	$('.passo-' + passo).show();
	$('[class*=passo-]').not('.passo-' + passo).hide();
}
</script>
{% endblock %}
