{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<link href={% static "assets/pages/css/blog.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="portlet-body">
    <div class="blog-page blog-content-2">
        <div class="row">
            <div class="col-lg-10">
                {% block blog_content %}
                
                {% endblock %}
            </div>
            <div class="col-lg-2">
                {% include "blog/utils/menu_lateral.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}