{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<link href={% static "assets/pages/css/blog.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="portlet-body">
    <div class="blog-page blog-content-2">
        <div class="row">
            <div class="col-lg-10">
                {% if tag_filtro %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Posts com a tag <span style="color: #ffa91e"><b>{{tag_filtro}}</b></span></h4>
                    </div>
                </div>
                {% endif %}
                {% block blog_content %}
                
                {% endblock %}
            </div>
            <div class="col-lg-2">
                {% include "blog/utils/menu_lateral.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}