{% extends "blog/base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block extra_head %}
<link href={% static "assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" %} rel="stylesheet" type="text/css" />
<link href={% static "assets/global/plugins/bootstrap-summernote/summernote.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block pagina_titulo_icone %}
<i class="icon-plus font-yellow-crusta"></i>
{% endblock %}

{% block blog_content %}
<div class="portlet-body form">
	<!-- BEGIN FORM-->
	<form method="POST" id="post_form" class="horizontal-form">{% csrf_token %}
		<div class="form-body">
			<div class="row">
				<div class="form-group col-md-12 {% if post_form.titulo.errors %} has-error {% endif %}">
					<label class="control-label col-md-1" style="text-align: left;"> {{post_form.titulo.label}}: </label>
					<div class="col-md-11">
						<input id="id_titulo" type="text" value="{{post_form.titulo.value|default:''}}" name="titulo" class="form-control">
						{% if post_form.titulo.errors %} <span class="help-block"> {{ post_form.titulo.errors.as_text }} </span> {% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12 {% if post_form.conteudo.errors %} has-error {% endif %}">
					<label class="control-label col-md-1"> {{post_form.conteudo.label}}: </label>
                    <div class="col-md-11">
                        <div name="summernote" id="id_summernote"></div>
                        {% if post_form.conteudo.errors %} <span class="help-block"> {{ post_form.conteudo.errors.as_text }} </span> {% endif %}
                        <input type="hidden" id="id_conteudo" />
                    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12 {% if post_form.chamada_facebook.errors %} has-error {% endif %}">
                    <label class="control-label col-md-1" style="text-align: left;"> {{post_form.chamada_facebook.label}}: </label>
                    <div class="col-md-11">
                        <input id="id_chamada_facebook" type="text" value="{{post_form.chamada_facebook.value|default:''}}" name="chamada_facebook" class="form-control">
                        {% if post_form.chamada_facebook.errors %} <span class="help-block"> {{ post_form.chamada_facebook.errors.as_text }} </span> {% endif %}
                    </div>
                </div>
			</div>
			<div class="row">
                <div class="form-group col-md-12 {% if post_form.tags.errors %} has-error {% endif %}">
                    <label class="control-label col-md-1" style="text-align: left;"> {{post_form.tags.label}}: </label>
				    <div class="col-md-11">
                        <select class="mt-multiselect btn btn-default" multiple="multiple" data-label="left" data-width="100%" data-filter="true" data-height="300" id="id_tags" name="tags">
                            {% localize off %}
                            {% for id, nome in post_form.tags.field.choices %}
                            <option value="{{id}}" {% for tag_id in post_form.tags.value %}{% if tag_id|add:'0' == id %}selected="selected"{% endif %}{% endfor %}>{{nome}}</option>
                            {% endfor %}
                            {% endlocalize %}
                        </select>
                        {% if post_form.tags.errors %} <span class="help-block"> {{ post_form.tags.errors.as_text }} </span> {% endif %}
                    </div>
                </div>
			</div>
			<div class="form-actions">
				<div class="row">
					<div class="col-md-offset col-md-3">
						<button type="submit" name="save" value="1" class="btn blue">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>

{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/jquery-validation/js/jquery.validate.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/jquery-validation/js/additional-methods.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-summernote/summernote.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-summernote/lang/summernote-pt-BR.min.js" %} type="text/javascript"></script>
{{ post_form.media }}
{% endblock %}