{% extends "base.html" %}
{% load staticfiles %}

{% block pagina_titulo_icone %}
<i class="icon-user font-yellow-crusta"></i>
{% endblock %}

{% block content %}
<div class="portlet-body">
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet box yellow-crusta">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-folder-open-o"></i>Dados da conta</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="m-grid m-grid-responsive-xs">
							<div class="m-grid-row">
								<div class="m-grid-col m-grid-col-left"><strong>Usuário:</strong></div>
								<div class="m-grid-col m-grid-col-left">{{request.user}}</div>
								<div class="m-grid-col m-grid-col-center"><a class="btn btn-xs yellow-crusta" href="{% url "password_change" %}">Alterar senha <i class="fa fa-key"></i></a></div>
								<div class="m-grid-col m-grid-col-left"><strong>Último login:</strong></div>
								<div class="m-grid-col m-grid-col-left">{{request.user.last_login}}</div>
							</div>
							<div class="m-grid-row">
								<div class="m-grid-col m-grid-col-left"><strong>Email:</strong></div>
								<div class="m-grid-col m-grid-col-left">{{request.user.email}}</div>
								<div class="m-grid-col m-grid-col-left"></div>
								<div class="m-grid-col m-grid-col-left"><strong>Criação da conta:</strong></div>
								<div class="m-grid-col m-grid-col-left">{{request.user.date_joined}}</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>
			<div class="col-md-12">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet box yellow-crusta">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-folder-open-o"></i>Dados de investimento</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="m-grid m-grid-responsive-xs">
							<div class="m-grid-row">
								<div class="m-grid-col m-grid-col-left m-grid-col-md-2"><strong>Corretagem padrão:</strong></div>
								<div class="m-grid-col m-grid-col-left">{% if request.user.investidor.tipo_corretagem == 'F' %}R${% endif %}{{request.user.investidor.corretagem_padrao}}{% if request.user.investidor.tipo_corretagem == 'P' %}%{% endif %}</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END Portlet PORTLET-->
			</div>
		</div>
	</div>

{% endblock %}