    {% extends "base.html" %}

{% block content %}
<h1>{{ divisao.nome }}</h1>
<div class="row-fluid">
    <div class="box-content">
    <table id="composicao_divisao" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Tipo de investimento</th>
            <th>Valor total</th>
        </tr>
    </thead>
    <tbody>
    {% for item in composicao.values %}
    <tr>
            <td><a href="#" onclick="mostrarComposicao({{ patrimonio_ano.0 }});">{{item.nome}}</a></td>
            <td>R${{item.patrimonio|floatformat:"2"}} ({{item.percentual|floatformat:"2"}}%)</td>
    </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <td><b>Total</b></td>
            <td><b>R${{divisao.valor_total|floatformat:"2"}}</b></td>
        </tr>
    </tfoot>
    </tbody>
    </table>
    
    <table id="composicao_item" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
    {% for item in composicao.values %}
    <tr>
            <td><a href="#" onclick="mostrarComposicao({{ patrimonio_ano.0 }});">{{item.nome}}</a></td>
            <td>R${{item.patrimonio|floatformat:"2"}} ({{item.percentual|floatformat:"2"}}%)</td>
    </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <td><b>Total</b></td>
            <td><b>R${{divisao.valor_total|floatformat:"2"}}</b></td>
        </tr>
    </tfoot>
    </tbody>
    </table>
    </div>
</div>

{% endblock %}
