    {% extends "base.html" %}

{% block content %}
<h1>{{ divisao.nome }}</h1>
<div class="row-fluid">
    <div class="box-content">
    <table id="ordens" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Ação</th>
            <th>Qtde.</th>
            <th>Valor papel</th>
            <th>Valor total</th>
        </tr>
    </thead>
    <tbody>
    {% for ticker, acao in acoes.items %}
    <tr>
        <td>{{ticker}}</td>
        <td>{{acao.quantidade}} ({{acao.quantidade_percentual|floatformat:"2"}}%)</td>
        <td>R${{acao.valor}}</td>
        <td>R${{acao.valor_total}} ({{acao.valor_total_percentual|floatformat:"2"}}%)</td>
    </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <td><b>Total</b></td>
            <td><b>{{dados.total_acoes}}</b></td>
            <td></td>
            <td><b>R${{dados.total_valor}}</b></td>
        </tr>
    </tfoot>
    </tbody>
    </table>
    </div>
</div>

{% endblock %}
