{% extends "base.html" %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <h1>Inserir transferência entre divisões</h1>
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit" class="btn">Salvar</button>
        </div>
    </form>
    
    <script>
    $(document).ready(function() {
    	// Ao iniciar, deixar apenas fonte externa para divisões
    	$("#id_investimento_origem option").each(function() {
            if ($(this).val() != '') {
                $(this).hide();
            } else {
                $(this).show();
            }
         });
    	$("#id_investimento_destino option").each(function() {
            if ($(this).val() != '') {
                $(this).hide();
            } else {
                $(this).show();
            }
         });
    	
        // Altera opções de investimento de acordo com escolha da divisão cedente
        $("#id_divisao_cedente").change(function() {
           if ($(this).val() == '') {
               $("#id_investimento_origem option").each(function() {
    	          if ($(this).val() != '') {
    	        	  $(this).hide();
    	          } else {
                      $(this).show();
    	          }
    		   });
               if ($("#id_investimento_origem option:selected").val() != '') {
            	   $("#id_investimento_origem").val($("#id_investimento_origem option:not(:hidden):first").val());
               }
           } else {
        	   $("#id_investimento_origem option").each(function() {
                   if ($(this).val() != '') {
                       $(this).show();
                   } else {
                       $(this).hide();
                   }
               });
               if ($("#id_investimento_origem option:selected").val() == '') {
                   $("#id_investimento_origem").val($("#id_investimento_origem option:not(:hidden):first").val());
               }
           }
        })
        
        
        // Altera opções de investimento de acordo com escolha da divisão recebedora
        $("#id_divisao_recebedora").change(function() {
           if ($(this).val() == '') {
               $("#id_investimento_destino option").each(function() {
                  if ($(this).val() != '') {
                      $(this).hide();
                  } else {
                      $(this).show();
                  }
               });
               if ($("#id_investimento_destino option:selected").val() != '') {
                   $("#id_investimento_destino").val($("#id_investimento_destino option:not(:hidden):first").val());
               }
           } else {
               $("#id_investimento_destino option").each(function() {
                   if ($(this).val() != '') {
                       $(this).show();
                   } else {
                       $(this).hide();
                   }
               });
               if ($("#id_investimento_destino option:selected").val() == '') {
                   $("#id_investimento_destino").val($("#id_investimento_destino option:not(:hidden):first").val());
               }
           }
        })
    });

    </script>
{% endblock %}

