    {% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="box-content">
    <table id="ordens" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th rowspan="2">Divisão</th>
            <th rowspan="2">Objetivo</th>
            <th rowspan="2">Valor atual</th>
            <th rowspan="2">Saldo</th>
            <th colspan="6">Composição</th>
        </tr>
        <tr>
            <th>B & H</th>
            <th>Trading</th>
            <th>Letra de Créd.</th>
            <th>FII</th>
            <th>Tes. Direto</th>
            <th>Não alocado</th>
        </tr>
    </thead>
    <tbody>
    {% for divisao in divisoes %}
    <tr>
        <td><a href="{% url 'detalhar_divisao' divisao.id %}">{{divisao.nome}}</a></td>
        <td>R${{divisao.valor_objetivo}}</td>
        <td>R${{divisao.valor_atual|floatformat:"2"}} ({{divisao.quantidade_percentual|floatformat:"2"}}%)</td>
        <td><span style="color:
            {% if divisao.saldo < 0 %}
            red
            {% else %}
            blue
            {% endif %}
            ">R${{divisao.saldo}}</span></td>
        <td><span style="color:
            {% if divisao.saldo_bh < 0 %}
            red
            {% else %}
            blue
            {% endif %}
            ">R${{divisao.saldo_bh}}</span></td>
        <td><span style="color:
            {% if divisao.saldo_trade < 0 %}
            red
            {% else %}
            blue
            {% endif %}
            ">R${{divisao.saldo_trade}}</span></td>
        <td><span style="color:
            {% if divisao.saldo_lc < 0 %}
            red
            {% else %}
            blue
            {% endif %}
            ">R${{divisao.saldo_lc}}</span></td>
        <td><span style="color:
            {% if divisao.saldo_fii < 0 %}
            red
            {% else %}
            blue
            {% endif %}
            ">R${{divisao.saldo_fii}}</span></td>
        <td><span style="color:
            {% if divisao.saldo_td < 0 %}
            red
            {% else %}
            blue
            {% endif %}
            ">R${{divisao.saldo_td}}</span></td>
        <td><span style="color:
            {% if divisao.saldo_nao_alocado < 0 %}
            red
            {% else %}
            blue
            {% endif %}
            ">R${{divisao.saldo_nao_alocado}}</span></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
</div>

{% endblock %}
