    {% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="box-content">
    <table id="ordens" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>Divisão cedente</th>
            <th>Divisão recebedora</th>
            <th>Data</th>
            <th>Quantidade</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
    {% for transferencia in transferencias %}
    <tr>
        <td>{% if transferencia.divisao_cedente %}{{transferencia.divisao_cedente}} ({{transferencia.investimento_origem}})
            {% else %}Fonte externa
            {% endif %}
        </td>
        <td>{% if transferencia.divisao_recebedora %}{{transferencia.divisao_recebedora}} ({{transferencia.investimento_destino}})
            {% else %}Fonte externa
            {% endif %}
        </td>
        <td>{{transferencia.data|date:"Y-m-d"}}</td>
        <td>R${{transferencia.quantidade}}</td>
        <td>{{transferencia.descricao|default:"Sem descrição"}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
</div>

{% endblock %}
