{% extends "base.html" %}

{% block extra_head %}
    {{ form_operacao_td.media }}
{% endblock %}

{% block content %}
    <h1>Editar operação Tesouro Direto</h1>
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <div id="forms">
            {{ form_operacao_td.as_p }}
            {% if varias_divisoes %}
                <h2>Divisões <button id="add-another" class="btn btn-primary" type="button">+</button></h2>
                {{ formset_divisao.management_form }}
                {% for form_divisao in formset_divisao %}
                    <h3>Divisão {{ forloop.counter }}</h3>
                    {{ form_divisao.as_p }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-actions">
            <button type="submit" name="save" value="1" class="btn">Salvar</button>
            <button type="submit" name="delete" value="1" class="btn btn-danger">Excluir</button>
        </div>
    </form>
    
    <script type="text/javascript">
    $( document ).ready(function() {
        $( "#id_data" ).change(function() {
            var dataEscolhida = $(this).val();
            if (dataEscolhida == null || dataEscolhida == '') {
                return;
            }
            var tipoOperacao = $('#id_tipo_operacao').val();
            $.ajax({
                url : "{% url 'td:buscar_titulos_validos_na_data' %}", // the endpoint
                type : "GET", // http method
                data: {dataEscolhida: dataEscolhida, tipoOperacao: tipoOperacao},
                
                // handle a successful response
                success : function(lista_titulos_validos) {
                    $("#id_titulo option").each(function() {
                        if ($.inArray(parseInt(this.value), lista_titulos_validos) > -1) {
                            $("#id_titulo option[value=" + this.value + "]").show();
                        } else {
                            $("#id_titulo option[value=" + this.value + "]").hide();
                        }
                    });
                }, 
                    
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });
        
        $( "#id_tipo_operacao" ).change(function() {
            var dataEscolhida = $('#id_data').val();
            if (dataEscolhida == null || dataEscolhida == '') {
                return;
            }
            var tipoOperacao = $(this).val();
            $.ajax({
                url : "{% url 'td:buscar_titulos_validos_na_data' %}", // the endpoint
                type : "GET", // http method
                data: {dataEscolhida: dataEscolhida, tipoOperacao: tipoOperacao},
                
                // handle a successful response
                success : function(lista_titulos_validos) {
                    $("#id_titulo option").each(function() {
                        if ($.inArray(parseInt(this.value), lista_titulos_validos) > -1) {
                            $("#id_titulo option[value=" + this.value + "]").show();
                        } else {
                            $("#id_titulo option[value=" + this.value + "]").hide();
                        }
                    });
                }, 
                    
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });
    });
    </script>
{% endblock %}

