{% extends "teste/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-yellow-crusta">
            <i class="icon-pin font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase">Tesouro Direto</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="{% if user.is_authenticated %}col-md-10{% else %}col-md-12{% endif %}">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Significado das siglas</h3>
                        <ul class="list-unstyled">
                            <li><strong>LCI</strong>: Letra de Crédito Imobiliário</li>
                            <li><strong>LCA</strong>: Letra de Crédito do Agronegócio</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>O que são?</h3>
                        <p>
                        As Letras de Crédito do Agronegócio e Imobiliário são investimentos de baixo risco, <strong>isentos de imposto de renda</strong>. A 
                        diferença entre elas é basicamente o setor no qual a instituição financeira está lastreando seus empréstimos, agronegócio ou imobiliário.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-element-step">
                            <div class="row step-line">
                                <div class="mt-step-desc text-center">
                                    <h3>Como funciona</h3>
                                </div>
                                <div class="col-md-4 mt-step-col first ">
                                    <div class="mt-step-number bg-white"><i class="icon-user font-yellow-crusta"></i></div>
                                    <div class="mt-step-title uppercase">Investidor</div>
                                    <div class="mt-step-content">Empresta dinheiro a instituição através da Letra de Crédito</div>
                                </div>
                                <div class="col-md-4 mt-step-col">
                                    <div class="mt-step-number bg-white"><i class="fa fa-bank font-yellow-crusta"></i></div>
                                    <div class="mt-step-title uppercase">Instituição</div>
                                    <div class="mt-step-content">Realiza empréstimos, no setor específico</div>
                                </div>
                                <div class="col-md-4 mt-step-col last">
                                    <div class="mt-step-number bg-white"><i class="fa fa-money font-yellow-crusta"></i></div>
                                    <div class="mt-step-title uppercase">Retorno</div>
                                    <div class="mt-step-content">Na data de vencimento, ou após o período de carência caso investidor queira resgatar, o dinheiro volta ao
                                    investidor, somado ao rendimento acordado na primeira etapa</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Garantia</h3>
                        <p>
                        São garantidas pelo FGC (Fundo Garantidor de Crédito), <strong>até um limite de R$ 250.000,00 por CPF por instituição</strong>).
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Tipos</h3>
                        <p>
                        Podem ser pré-fixadas ou pós-fixadas. As pré-fixadas já mostram ao investidor quanto ele irá receber na data de vencimento. Nas pós-fixadas,
                        a taxa de rendimento é atrelada a um índice, como o DI (mais comum) ou o IPCA, portanto o investidor só irá saber o rendimento final ao 
                        término do investimento.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Liquidez</h3>
                        <p>
                        O investidor pode resgatar os títulos em qualquer dia a , porém a garantia do rendimento acordado só é dada na data do vencimento. 
                        Antes do vencimento os valores dos títulos oscilam e pode ser que o investidor realize prejuízo no resgate antecipado. Resgates em um
                        período inferior a 30 dias também pagam IOF de acordo com a tabela regressiva de IOF.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Imposto de Renda</h3>
                        <p>
                        Tabela Regressiva
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Para mais informações:</h3>
                        <ul class="list-unstyled">
                            <li><a href="http://www.tesouro.fazenda.gov.br/tesouro-direto">Site oficial do Tesouro Direto</a></li>
                            <li><a href="http://mepoupenaweb.uol.com.br/investimentos/tudo-sobre-lci-e-lca/">Me Poupe!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-md-2">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-user"></i>Investidor</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        {% if total_investido > 0 %}
                        <h4>Total investido</h4>
                        <div class="col-md-12 text-center font-yellow-crusta">
                            <p class="lead">
                                <strong>R$ <span data-counter="counterup" data-value="{{ total_investido }}">0</span></strong>
                            </p>
                        </div>
                        {% endif %}
                        <h4>Investimentos</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url "inserir_operacao_lc" %}">Inserir operação</a></li>
                            <li><a href="{% url "historico_lc" %}">Histórico de operações</a></li>
                            <li><a href="{% url "painel_lc" %}">Painel de LCI/LCA</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-line-chart"></i>Últimos valores para o DI</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="chart" id="graf_historico_di" style="width:100%;height:300px"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet box yellow-crusta">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-line-chart"></i>Últimos valores para o IPCA</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="chart" id="graf_historico_ipca" style="width:100%;height:300px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_footer %}
<script src={% static "assets/global/plugins/counterup/jquery.waypoints.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/counterup/jquery.counterup.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.axislabels.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.categories.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.crosshair.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.resize.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.resize.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.stack.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/flot/jquery.flot.time.min.js" %} type="text/javascript"></script>
{% endblock %}
