{% extends "base.html" %}

{% block extra_head %}
    {{ form_cdb_rdb.media }}
{% endblock %}

{% block content %}
    <h1>Inserir CDB/RDB</h1>
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <div id="forms">
            {{ form_cdb_rdb.as_p }}
            {{ formset_porcentagem }}
            {{ formset_carencia }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">Salvar</button>
        </div>
    </form>
    
    <script>
    $(document).ready(function() {
        var label = $("label[for='id_historicoporcentagemcdb_rdb_set-0-porcentagem']");
        label.text(label.text().replace(':', '') + ' (ao ano):');
        
        $('#id_tipo_rendimento').change( function() {
        	if (String($(this).val()) == '1') {
    		    label.text(label.text().replace(/\(.*?\)/, '(ao ano)'));
        	} else if (String($(this).val()) == '2') {
        		label.text(label.text().replace(/\(.*?\)/, '(% do CDI)'));
        	}
        })
    });
    </script>
{% endblock %}
