{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="box-content">
        <div class="row-fluid">
            <div class="span4">
                Total de operações de compra
            </div>
            <div class="span4">
                Total de operações de venda
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                {{ dados_mes.qtd_op_compra }}
            </div>
            <div class="span4">
                {{ dados_mes.qtd_op_venda }}
            </div>
        </div>
    </div>
</div>


<div class="row-fluid">

        <div id="placeholder" style="width:600px;height:300px"></div>
        
</div>

{% endblock %}
