{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="box-content">
        <h3>Este cálculo serve para se ter uma aproximação do resultado caso o investidor espere juntar dinheiro para comprar mais de uma cota antes de investir em mais FIIs.</h3>
        <h3>Os valores de preço e rendimento da cota são considerados constantes por todo o cálculo.</h3>
        <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <div id="forms">
            {{ form_calcular.as_p }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">Calcular</button>
        </div>
    </form>
    </div>

    <div class="box-content">
        <div class="box black span5" ontablet="span5" ondesktop="span5">
        <div class="box-header">
            <span>Resultados</span>
        </div>
        <div class="box-content">
            <ul class="dashboard-list metro">
                {% for posicao in ranking %}
                <li>
                    <a href="#">
                        <span>Juntando {{posicao.0}} cota(s): R$ {{posicao.1}}</span>                                 
                    </a>
                </li>
                {% empty %}
                <li>
                    <a href="#">
                        <span>Ainda não há resultados</span>                                 
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
</div>

{% endblock %}
