{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="box-content">
        <div class="box black span5" ontablet="span5" ondesktop="span5">
        <div class="box-header">
            <span>Retornos 6 meses</span>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <ul class="dashboard-list metro">
                {% for comparativo in comparativos %}
                <li>
                    <a href="#">
                        {% comment %}
                        <i class="icon-arrow-up green"></i>                               
                        <span class="green">92</span>
                        {% endcomment %}
                        <span class="white">{{ comparativo.0 }} (Preço: R${{ comparativo.1|floatformat:"2" }} / Proventos: R${{ comparativo.2|floatformat:"2" }}) {{ comparativo.3|floatformat:"4" }}%</span>                                  
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
</div>

{% endblock %}
