{% extends "base.html" %}

{% block extra_head %}
    {{ form_operacao_fii.media }}
{% endblock %}

{% block content %}
    <h1>Editar operação FII</h1>
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <div id="forms">
            {{ form_operacao_fii.as_p }}
            {% if not varias_divisoes %}
                {{ form_uso_proventos.as_p }}
            {% else %}
                <h2>Divisões <button id="add-another" class="btn btn-primary" type="button">+</button></h2>
                {{ formset_divisao.management_form }}
                {% for form_divisao in formset_divisao %}
                    <h3>Divisão {{ forloop.counter }}</h3>
                    {{ form_divisao.as_p }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-actions">
            <button type="submit" name="save" value="1" class="btn">Salvar</button>
            <button type="submit" name="delete" value="1" class="btn btn-danger">Excluir</button>
        </div>
    </form>
        
{% endblock %}

