{% extends "base_login.html" %}
{% load staticfiles %}

{% block content %} 
    {% if validlink %}
        <h3>Confirmação de cadastro</h3>
        <form method="POST" class="form-horizontal">{% csrf_token %}
            <div class="form-actions">
                <button type="submit" class="btn yellow-crusta pull-right"> Confirmar </button>
                <a href="{% url 'login' %}" class="btn red-thunderbird">Cancelar</a>
            </div>
        </form>
    {% else %}
        <h3>Código de confirmação inválido</h3>
    {% endif %}
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright" style="margin-top: 25px;"> {% now "Y" %} &copy; Bag of Gold </div>
    <!-- END COPYRIGHT -->
{% endblock %}