{% extends "base_login.html" %}
{% load staticfiles %}

{% block content %}
    <h3>Redefinição de senha</h3>
    <p>Um email foi enviado com as instruções para redefinir sua senha, caso exista uma conta com o email informado.</p>
    <p>Caso você não receba o email, confira se o email foi digitado corretamente, e cheque sua pasta de <strong>Spam</strong>.</p>
    <a href="{% url 'login' %}" class="btn red-thunderbird">Voltar</a>
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright" style="margin-top: 25px;"> {% now "Y" %} &copy; Bag of Gold </div>
    <!-- END COPYRIGHT -->
{% endblock %}