{% extends "base_login.html" %}
{% load staticfiles %}

{% block extra_head %}
    <meta content="Página com o formulário de cadastro no sistema" name="description" />
{% endblock %}

{% block content %}
    <form method="POST">{% csrf_token %}
        <h3 class="form-title">Cadastrar usuário</h3>
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            {% for error in form.non_field_errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{field.label}}</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="{% if 'password' in field.name %}password{% else %}text{% endif %}" 
                    autocomplete="off" placeholder="{{ field.label }}" id="{{field.id_for_label}}" name="{{field.name}}" title="{{field.help_text}}" value="{% if field.value %}{{field.value}}{% endif %}"/> </div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="font-white"><i class="fa fa-warning"></i> {{error}}</span>
                    {% endfor %}
                {% endif %}
                {% if field.name == 'password1' %}
                    <span class="font-white"> Tamanho (mínimo de 8 caracteres):</span>
                    <span class="font-white" id="tamanho_senha"></span>
                {% endif %}
                {% if field.name == 'password2' %}
                    <span class="font-white" id="confirmacao_senha"></span>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" id="btn_cadastrar" disabled="disabled" class="btn yellow-crusta pull-right"> Cadastrar </button>
            <a href="{% url 'login' %}" class="btn red-thunderbird">Voltar</a>
        </div>
    </form>
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright" style="margin-top: 25px;"> {% now "Y" %} &copy; Bag of Gold </div>
    <!-- END COPYRIGHT -->
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
$( document ).ready(function() {
	if ($('#id_password1').val().length < 8) {
	    $('#tamanho_senha').html($('#id_password1').val().length + ' <i class="fa fa-close"></i>');
    }
    else {
        $('#tamanho_senha').html($('#id_password1').val().length + ' <i class="fa fa-check"></i>');
    }
	
	if ($('#id_password2').val() != $('#id_password1').val()) {
		$('#confirmacao_senha').html('Senhas iguais: <i class="fa fa-close"></i>');
    }
    else {
        $('#confirmacao_senha').html('Senhas iguais: <i class="fa fa-check"></i>');
    }
	
    $('#id_password1').keyup(function() {
    	if ($(this).val().length < 8) {
		   $('#tamanho_senha').html($(this).val().length + ' <i class="fa fa-close"></i>');
    	}
    	else {
    	   $('#tamanho_senha').html($(this).val().length + ' <i class="fa fa-check"></i>');
    	}
    	
    	if ($(this).val() != $('#id_password2').val()) {
            $('#confirmacao_senha').html('Senhas iguais: <i class="fa fa-close"></i>');
         }
         else {
            $('#confirmacao_senha').html('Senhas iguais: <i class="fa fa-check"></i>');
         }
    });
    
    $('#id_password2').keyup(function() {
        if ($(this).val() != $('#id_password1').val()) {
           $('#confirmacao_senha').html('Senhas iguais: <i class="fa fa-close"></i>');
        }
        else {
           $('#confirmacao_senha').html('Senhas iguais: <i class="fa fa-check"></i>');
        }
    });

    $('.form-control').keyup(function() {
        if ($('#id_username').val().length == 0) {
            $('#btn_cadastrar').attr("disabled", "disabled");
            return;
        }
        var re = /.+@.+/;
        if (!re.test($('#id_email').val())) {
            $('#btn_cadastrar').attr("disabled", "disabled");
            return;
        }
        
        if ($('#id_password1').val().length < 8) {
            $('#btn_cadastrar').attr("disabled", "disabled");
            return;
        }
        
        if ($('#id_password2').val() != $('#id_password1').val()) {
            $('#btn_cadastrar').attr("disabled", "disabled");
            return;
        }
        $('#btn_cadastrar').removeAttr("disabled");
    });
});
</script>
{% endblock %}