{% extends "base_login.html" %}
{% load staticfiles %}

{% block extra_head %}
    <meta content="Página de aviso de sucesso na alteração de senha" name="description" />
{% endblock %}

{% block content %}
    <h3>Senha alterada com sucesso</h3>
    <p>Sua senha foi alterada com sucesso, clique no botão abaixo para realizar o acesso.</p>
    <div class="form-actions">
        <a href="{% url 'inicio:painel_geral' %}" class="btn yellow-crusta pull-right">Acessar</a>
    </div>
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright" style="margin-top: 25px;"> {% now "Y" %} &copy; Bag of Gold </div>
    <!-- END COPYRIGHT -->
{% endblock %}