{% extends "base.html" %}

{% block extra_head %}
    {{ form_cdb_rdb.media }}
{% endblock %}

{% block content %}
    <h1>Editar CDB/RDB</h1>
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <div id="forms">
            {{ form_cdb_rdb.as_p }}
        </div>
        <div class="form-actions">
            <button type="submit" name="save" value="1" class="btn">Salvar</button>
            <button type="submit" name="delete" value="1" class="btn btn-danger">Excluir</button>
        </div>
    </form>
{% endblock %}

    
