{% extends "base.html" %}

{% block extra_head %}
    {{ form_cdb_rdb.media }}
{% endblock %}

{% block content %}
    <h1>Editar CDB/RDB</h1>
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <div id="forms">
            {{ form_cdb_rdb.as_p }}
        </div>
        <div class="form-actions">
            <button type="submit" name="save" value="1" class="btn btn-setting">Salvar</button>
            <button type="submit" name="delete" value="1" class="btn btn-setting btn-danger">Excluir</button>
        </div>
        
        <div aria-hidden="true" style="display: none;" class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Confirmação</h3>
            </div>
            <div class="modal-body">
                <p>Confirma a criação de operação em ações?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn">Sim</button>
                <a href="#" class="btn btn-danger" data-dismiss="modal">Não</a>
            </div>
        </div>
    </form>
{% endblock %}

    
