{% extends "base.html" %}

{% block extra_head %}
    {{ form_operacao_cdb_rdb.media }}
{% endblock %}

{% block content %}
    <h1>Inserir operação em CDB/RDB</h1>
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <div id="forms">
            {{ form_operacao_cdb_rdb.as_p }}
            <h2>Divisões <button id="add-another" class="btn btn-primary" type="button">+</button></h2>
            {{ formset_divisao_cdb_rdb.management_form }}
            {% for form_divisao in formset_divisao_cdb_rdb %}
                <h3>Divisão {{ forloop.counter }}</h3>
                {{ form_divisao.as_p }}
            {% endfor %}
            
        </div>
        <div class="form-actions">
            <button type="submit" name="save" value="cdb" class="btn">Salvar</button>
        </div>
    </form>
{% endblock %}
