{% extends "base.html" %}

{% block extra_head %}
    {{ form_cdb_rdb.media }}
{% endblock %}

{% block content %}
    <h1>Inserir CDB/RDB</h1>
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <div id="forms">
            {{ form_cdb_rdb.as_p }}
            {{ formset_porcentagem }}
            {{ formset_carencia }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">Salvar</button>
        </div>
    </form>
    
{% endblock %}
